[2020-04-10 13:05] Alexeyan opened #589 "Music block doesn't detect spotify"
Hi.
I want to use the music block to control spotify, but the block never activates and stays collapsed

Here is the part in the bar.toml
[code]
This only displays the collapsed block.
When i click on it it opens a new spotify instance each time, while still staying collapsed.
Using `dbus-monitor` i can see the spotify details flying by.
It also seems like spotify is fully registered with dbus as

[2020-04-12 18:40] PicoJr opened #592 "fakeroot required for pacman block"
Hello,

The pacman block is always indicating "system is up to date" on my fresh Arch install.

After some investigation it appears that the pacman block relies on `fakeroot` (which wasn't installed on my machine).

Maybe it would be worth mentioning that `fakeroot` is required by the pacman block ?

IMO the following snippet is a bit misleading: I understand that if `fakeroot` is not found
 on th

[2020-04-13 05:41] woshiluo commented on #589
I have the same problem with clementine or vlc.

I'm using `aur/i3status-rust-git` on Arch linux

[2020-04-13 10:11] indradhanush commented on #587
You're right on this one. On second thoughts `dmesg` won't always guarantee that the last entry has the "Up" keyword with the speed is the current one, for eg: if the connection got disconnected. `ethtool` sounds like the better approach.

[2020-04-17 20:15] AndreVallestero commented on #575
I'm also having this issue even though amixer has a valid output.

amixer output:
[code]

[2020-04-17 20:23] AndreVallestero commented on #575
I found a _workaround_ which is to use pulse audio as the backend since it has stable/preditable interface names.

[2020-04-20 00:36] boi4 commented on #302
If someone stumbles upon this and wants a temporary solution:
I created a small, unelegant python script which makes reloading the bar possible through sending a SIGUSR1 signal without having to restart i3.
[code]

[2020-04-20 04:50] ammgws commented on #592
I guess it could be documented and the block changed to error out if it's not installed.

You're right about `type` not having `-P`, at least in `sh`/`bash` on Arch. Incidentally, `fish shell`'s type does have -P. Could be changed to `which` instead?

[2020-04-20 08:06] PicoJr commented on #592
My bad, you are right: @ammgws

I ran the command in my zsh shell...

[code]

[code]

[2020-04-20 14:27] martinbrylski commented on #589
It has to do with arch packaging, see https://aur.archlinux.org/packages/i3status-rust/

Building it from sources works perfectly

[2020-04-20 15:06] ammgws commented on #589
You could also install the git version from the AUR

[2020-04-20 17:24] Alexeyan commented on #589
I can confirm that the git version works.
Thanks

[2020-04-20 17:24] #589 closed

[2020-04-21 04:54] flying7eleven commented on #592
Wouldn't it be a feasable option to always use the ```-p``` (lower-case) option? That works just fine in ```bash``` as well as ```zsh```. Based on the documentation the result would be an empty string if the command could not be found (which is what the code checks anyway).

[2020-04-21 05:19] flying7eleven commented on #592
Nvm. I forgot that everything will be ran through ```sh``` so the capital ```-P``` is not an issue. Sorry

[2020-04-21 13:37] ammgws commented on #331
@OddBloke The JSON option that was just merged in #515 may be of use to you. Could use it like this:

i3status-rs config
[code]
script (sorry this is in fish script, but you get the idea)
[code]

Please re-open otherwise.

[2020-04-21 13:37] #331 closed

[2020-04-21 14:23] #581 closed

[2020-04-21 14:24] ammgws commented on #581
@diegodorado Should be fixed with the latest git version

[2020-04-21 14:40] diegodorado commented on #581
Nice!

[2020-04-21 15:17] #422 closed

[2020-04-21 20:03] carloabelli opened #598 "Update to Font Awesome 5"
There was some discussion of this in #130, but that issue is closed and cluttered with workarounds. Additionally the [pango issue](https://github.com/greshake/i3status-rust/issues/130#issuecomment-455540786) that was causing a lot of the hexboxes has now been [fixed](https://gitlab.gnome.org/GNOME/pango/-/merge_requests/67). Here is a list of icons to change for Font Awesome 5 with possible altern

[2020-04-21 22:56] ammgws commented on #598
What's the availability of Font Awesome 5 like on Ubuntu and the like? Ideally would like to avoid bug reports coming in from users of those distros where there isn't an easy installable package available.

[2020-04-21 23:02] carloabelli commented on #598
@ammgws

Looks like it's version 5 on both Ubuntu and Debian:
https://packages.ubuntu.com/eoan/fonts-font-awesome
https://packages.debian.org/buster/fonts-font-awesome

[2020-04-22 07:45] ammgws commented on #442
AFAIK the workspace part of the bar is generated by i3bar/swaybar and not us. Please re-open if I'm wrong.

[2020-04-22 07:45] #442 closed

[2020-04-22 07:49] ammgws commented on #289
@sebastianst Sounds like #584

@sebastianst The 5 spaces are gone now.

[2020-04-22 07:49] #289 closed

[2020-04-22 07:53] ammgws commented on #73
Let's keep an eye on this: https://github.com/chronotope/chrono/issues/199

[2020-04-22 07:57] ammgws commented on #598
Ubuntu 18.04LTS seems to still be on the 4.7 version.

[2020-04-22 08:05] carloabelli commented on #598
Okay so in that case it would probably be best to create a new icon set for font awesome 5. Any thoughts on the updated icons?

[2020-04-22 10:43] ammgws commented on #314
Implemented via #600

[2020-04-22 10:43] #314 closed

[2020-04-22 13:23] droslean opened #602 "temperature block is always collapsed."
Tested with
[code]
[code]

both of the block only show the temperature sign without any values.

[2020-04-22 13:25] #602 closed

[2020-04-22 13:55] ammgws commented on #602
Resolved?

[2020-04-22 14:00] droslean commented on #602
@ammgws I tried to refresh some times, but after some time it worked...

[2020-04-22 18:43] grim7reaper opened #603 "Display usage% per CPU core in the cpu block"
Hello,

I'm currently moving from XMonad/xmobar to i3 and I'm trying to have a status bar similar to what I had with xmobar.
I've managed to get almost all I needed with your cool project here :slightly_smiling_face: , but I'm still missing a few features.

Regarding the block `cpu` I'm missing two things:
1. the ability to display the utilization of each core in %. IIUC, the `{utilization}` forma

[2020-04-22 23:18] grim7reaper opened #604 "Music block doesn't show title/artist info with mpd+mpDris2"
Hi,

I've noticed that the music block seems to be somewhat broken with mpd+mpDris2: I can see the music icon but no text (neither title nor artist).

Looking at the output of `dbus-monitor` I can see `i3status-rs` querying and getting the info back, but nothing is displayed :confused:

FWIW, I did some testing and:
- v0.13.1: broken
- v0.13.0: works like a charm

I've had a quick look at the diff

[2020-04-22 23:20] ammgws commented on #604
Is it broken on git master too?

A similar issue (with another music program) came up a couple of days ago and that solved the issue for them: https://github.com/greshake/i3status-rust/issues/589

[2020-04-22 23:24] ammgws commented on #603
Give it a go and see what you can come up with

[2020-04-23 08:23] grim7reaper commented on #604
Ho, it's working on master indeed!

I think I've tested on master actually, but weirdly enough the the master branch `-V` returns `i3status-rs 0.13.0`, hence my confusion.

To sum up:
- `tags/v0.13.0`: works
- `tags/v0.13.1`: doesn't work
- `master`: work

[2020-04-23 09:22] #604 closed

[2020-04-23 09:27] grim7reaper commented on #603
Ok, I'll give it a try :slightly_smiling_face:
I'll let the color issue aside for now: it seems related to `widget.rs` and may have a wider impact.
Anyway, it can be addressed later.

Should I go with:
- a new format, I'll need to find a good name for it (`{utilizations}` sounds way too similar to the existing one)
- a new bool in the block config that would toggle "show average/show all" for the

[2020-04-24 10:53] ammgws commented on #592
@PicoJr Do you plan on contributing this some time? https://github.com/PicoJr/i3status-rust/commit/0a11691e1af937ff4fbab6a68e01c257518e495e#diff-2c6af12f9d4ff45f3dc7a0bbdc275de9 Since it solves this issue

[2020-04-24 12:46] johnae opened #608 "Cargo.lock is missing"
I couldn't find any other issue filed on this but builds started failing for me in CI since the lock file is missing from the repo. Is this intentional?

[2020-04-24 12:47] johnae commented on #608
Yeah, this pull request seems to have deleted the lock file: https://github.com/greshake/i3status-rust/pull/558

[2020-04-24 13:53] ammgws commented on #608
Sorry about that

[2020-04-25 03:45] #592 closed

[2020-04-25 05:32] atheriel commented on #598
New LTS for Ubuntu is out this week, so it's not unreasonable to be thinking of this change soon. Thanks for all of your work collecting together the changes!

[2020-04-26 03:25] ammgws commented on #586
So `upower -d` shows 5% and 73%?

Also `upower = true` will be deprecated at some stage, use `driver = upower` instead.

[2020-04-26 03:48] ammgws commented on #575
@AndreVallestero When you were using the ALSA backend, it didn't work with any of those device names from the output above (Headphone, Headphone Mixer, Speaker, etc)? All the code does is call `amixer -M get devicename` so it seems strange for it not to work, unless you specified a device that doesn't exist or doesn't have volume info in the output.

[2020-04-26 03:50] ammgws commented on #579
@RaitoBezarius Are you still getting this?

[2020-04-26 04:22] ammgws commented on #587
Can you check out #612?

[2020-04-26 04:41] ammgws commented on #572
All we do is output i3/swaybar compatible JSON, the font stuff is handled by i3/swaybar. Don't think there is anything we can do here...

[2020-04-26 08:57] ammgws commented on #424
@whois-max Please re-open if the alternative methods mentioned above don't work for you.

[2020-04-26 08:57] #424 closed

[2020-04-26 09:11] ammgws commented on #598
This is what I think

cpu: tachometer-alt (1. seems more CPU-like to me rather than the chip icon, 2. the chip icon is already used for memory (assuming we dont change it), 3. same as the icon used in FA4)

volume_muted: volume-mute

net_up: upload (I hate the current icons as they show so small for me)
net_down: download

net_wired: network-wired

ping: exchange-alt

uptime: stopwatch

memory: ke

[2020-04-26 09:26] ammgws commented on #285
@GladOSkar This is quite old but how did the block crash? Do you mean it errored out like this: https://github.com/greshake/i3status-rust/blob/d1b0ff32995006461b1326c2ac5ed791847b3a47/src/blocks/memory.rs#L566
or did it cause a panic?

[2020-04-26 09:29] GladOSkar commented on #285
![Peek 2020-04-26 11-28](https://user-images.githubusercontent.com/9497832/80303523-0faa4680-87b1-11ea-99b3-8b525bb81703.gif)

This is what happens when i click the memory block. I have not investigated further since it doesn't really bother me

[2020-04-26 09:37] ammgws commented on #285
Oh wow that's pretty bad though.
Does /proc/meminfo contain SwapTotal, SwapFree at all?

[2020-04-26 09:48] GladOSkar commented on #285
Weirdly, it does
[code]

[2020-04-26 11:12] ammgws commented on #285
For the hell of it I changed the mem block to read from a file that I control, and set the Swap* values to your ones above, yet couldn't get it to crash :(

Are you able to get a backtrace out of it?

[2020-04-26 11:32] GladOSkar commented on #285
Couldn't get anything useful yet, how'd i do that?

[2020-04-26 11:35] GladOSkar commented on #285
Here's a `strace` of the crash in case that helps:
[code]

[2020-04-26 11:41] GladOSkar commented on #285
Got a proper backtrace, here:
[code]

[2020-04-26 11:55] harryNID opened #614 "Mouse wheel volume control broke on sound block."
**Manjaro Linux
i3status-rust-git
Driver: Alsa**

[[block]]
block = "sound"
driver = "alsa"
step_width = 3

For some reason the mouse wheel volume controls do not work anymore. This is a recent occurrence. When I try to scroll on the block the volume adjusts erratically until it finally ends up at "0".  I have to go into alsamixer to correct.

I do not know if ;
**added mapped-volume option for co

[2020-04-26 12:58] ammgws commented on #285
OK I was able to reproduce,

In your config, I take it you have:
[code]
rather than
[code]
?

[2020-04-26 13:05] ammgws commented on #285
Ideally it should error out like this so you know why:
![image](https://user-images.githubusercontent.com/20397027/80308435-00a3b280-880a-11ea-931b-ad42b54374b7.png)

Need to see why that's not the case for the memory block

[2020-04-26 14:14] kflak commented on #575
Hi guys, I'm still a bit in the dark here. I've avoided the problem by not having pulseaudio installed, but lately I've had to use it. My setup is alsa->PulseAudio->Jack, using the Cadence PulseAudio bridge, which ensures that as long as pulseaudio is running it will show up as:
[code]
So pulseaudio is the default output, but the _actual_ output is coming from jack-alsa, and this is the one I woul

[2020-04-26 15:01] ammgws commented on #285
OK this is because the memory block uses `render` which panics:
https://github.com/greshake/i3status-rust/blob/d1b0ff32995006461b1326c2ac5ed791847b3a47/src/util.rs#L305
where as all the other blocks use `render_static_str` which raises an error

[2020-04-27 00:04] ammgws commented on #278
@tim77 Could you please try #615?

[2020-04-27 00:30] RaitoBezarius commented on #579
@ammgws I don't see it anymore

[2020-04-27 00:38] ammgws commented on #579
Good to hear. I will close this for now as the only thing we can control with respect to fonts is which icon we choose to use in the JSON output. Please re-open if it happens again so we can try find out why regardless.

[2020-04-27 00:38] #579 closed

[2020-04-27 00:42] ammgws commented on #285
@GladOSkar Could you please try with #616?

[2020-04-27 00:49] ammgws commented on #575
As mentioned above, the ALSA backend simply parses the output of `amixer -M get devicename`, so if your device doesn't show in the output of `amixer` then it's not possible to get the info using the alsa driver.

[2020-04-27 09:21] droslean commented on #586
Thanks @ammgws.

[2020-04-27 09:21] #586 closed

[2020-04-27 09:28] ammgws commented on #586
Oh, did that actually solve the issue?

[2020-04-27 09:29] droslean commented on #586
Yes. Do we have to update any docs?

[2020-04-27 09:30] droslean commented on #586
For the record:
[code]

works just fine.

[2020-04-27 09:36] ammgws commented on #586
The deprecation notice is in the docs and the example config uses `driver` so there's not much else to do apart from actually removing it from the code.

[2020-04-27 09:40] ammgws commented on #614
This seems like the likely culprit. I think the -M flag needs to be added to the set command too, like here: https://github.com/vivien/i3blocks/pull/254/files

[2020-04-27 09:48] ammgws commented on #614
Could you please see if #617 solves this?

Otherwise it may be a while until I can find some time to reproduce and check myself.

[2020-04-27 12:51] #572 closed

[2020-04-27 13:55] kflak commented on #575
OK, I'm beginning to get a handle on this. Sorry for being a bit dense earlier... The problem with `amixer -M get devicename` is that `devicename` is not, in fact, the device name, but rather the name of the control. In my case, with pulseaudio started, `amixer -M get hw:PCH` (which is the name I am interested in) will return
[code]
Whereas `amixer -M get Master` will get me the pulseaudio control

[2020-04-27 14:03] ammgws commented on #575
Interesting, could you share the output of `amixer` and `aplay -l` as well?

This is what mine looks like
[code]
[code]

[2020-04-27 14:07] kflak commented on #575
[code]
and
[code]

[2020-04-27 14:09] kflak commented on #575
And I guess I should have been a bit more clear on the terminology: I am interested in the _card_ name, not necessarily the _device_ name.

[2020-04-27 14:15] kflak commented on #575
Furthermore:

[code]

[2020-04-27 14:42] ammgws commented on #575
Ah, sorry I missed that you already posted the output above!

It seems like if we add a config option to specify the -D option then it should solve your problem, right? Then just need to document it properly.

[2020-04-27 15:04] kflak commented on #575
I guess it would solve it, yes! I’d be happy to test it if you do.

On Mon, Apr 27, 2020 at 17:42, Jason <notifications@github.com> wrote:

[2020-04-27 15:08] GladOSkar commented on #285
Works:
![Peek 2020-04-27 17-06](https://user-images.githubusercontent.com/9497832/80388021-a8bc8880-88a9-11ea-9a1c-d1f7bd8f680d.gif)

Thanks for figuring that out!

[2020-04-27 21:00] carloabelli commented on #598
I agree with these.

Personally I prefer the memory icon, but consistency is not a bad thing and overriding icons in the config is simple.

I'll update my other pull request to include these changes.

[2020-04-27 21:20] ammgws commented on #285
Thanks!

[2020-04-27 21:20] #285 closed

[2020-04-27 23:09] harryNID commented on #614
Ok, thanks for looking into this :)
Good news and Bad news!

The Good news is that the fix works, somewhat!

The Bad news is that for some reason if I am at 86% to 100% everything works as it should (volume goes up and down). If I am from 0% to 85%  that also works (volume also goes up and down) but here is the weird thing if I am above 85% and drop below that it locks below 85% permanently and I

[2020-04-27 23:20] ammgws commented on #614
Does removing the -M flag all together (revert #508) fix the problem?

[2020-04-28 10:09] travankor opened #620 "sway: empty horizontal space"
Minor nitpick: On sway, there is wasted horizontal space about a ~1 pixel tall on both the top and bottom edge of swaybar. This seems to happen at different swaybar sizes, unless you crop swaybar to be smaller than the font size (which is a bad idea generally).

![swaybar](https://user-images.githubusercontent.com/38744110/80476453-b2e29380-894a-11ea-89e9-f18418fd0668.png)

[2020-04-28 10:11] ammgws commented on #620
Are you sure that's not just a sway issue? All we do is output i3/swaybar compatible JSON - you can check the output in your terminal.

[2020-04-28 10:36] travankor commented on #620
Good point -- This can't be from i3status-rust.

[2020-04-28 10:36] #620 closed

[2020-04-29 00:06] ammgws commented on #583
Something like how the net block behaves?

[2020-04-29 00:17] diegodorado commented on #89
It would also be nice to have a block that run only once.

A use case for this is to show whether I am currently with NVIDIA or INTEL graphics ... or any other setting that requires to login to change so it is not necessary to update at any interval.

The workarround now is to have a ridiculously big interval... but could be solved with a `run_only_once` option defaulted to false

[2020-04-29 00:20] ammgws commented on #89
What about setting interval to -1 could disable the interval?

[2020-04-29 01:02] harryNID commented on #614
Sorry for not getting back sooner!

To answer your question, it does but we are back to the original reason you used the -M flag in the first place. Volume does increase/decrease throughout the range but it is reported differently than what alsamixer reports.
Your previous solution, of adding -M to both methods, is the closest to what is desired but it has that sticking point at 85%.

I noticed in

[2020-04-29 01:26] ammgws commented on #614
OK I tried the alsa driver and I can't reproduce :(

Does the value shown in the bar get above 85% if you increase the volume manually using alsamixer etc?

[2020-04-29 01:27] ammgws commented on #575
I think we should probably follow this model:

https://github.com/vivien/i3blocks-contrib/blob/master/volume/volume

[2020-04-29 01:28] ammgws commented on #614
Also turns out the volume block in i3blocks isn't actually using the -M option yet (unmerged): https://github.com/vivien/i3blocks-contrib/pull/264/files

Might be a good idea to make using -M configurable like in that PR.

[2020-04-29 05:45] kflak commented on #575
That looks very good and comprehensive!

[2020-04-29 09:24] crisidev opened #621 "Weather bar curl error"
Hello folks,
I have started seeing consistently an error in the weather bar:

[code]

I am on ubuntu with curl version 7.58.0-2ubuntu3.8 and i3status-rs is compiled from today's master.

Interestingly enough, If I run curl manually with `--write-out 'stderr'` it works fine..

[2020-04-29 10:29] sashomasho commented on #621
Can you try with the following?

[2020-04-29 11:42] Rikorose commented on #583
Yes that would an option, I guess.

It would be also nice, if we could provide the MAC of the bluetooth controller instead of the device to connect to. This simplifies it a lot when having multiple bluetooth devices.

[2020-04-29 12:11] ammgws commented on #583
OK I'll see what I can do. I don't have Bluetooth so I'll ping you for testing when I have something :construction_worker:

[2020-04-29 14:11] ammgws commented on #575
@kflak Could you please try #622? It should hopefully solve your issue.

[2020-04-29 14:14] ammgws commented on #614
@harryNID Could you please try #622? The `-M` flag is now off by default, so it should solve your issue. The issue with your volume display getting stuck when using the `-M` flag probably isn't solved though. I can't reproduce that one.

[2020-04-29 14:19] ammgws commented on #621
Your curl version is too old. `stderr` var was added in curl 7.63

https://github.com/curl/curl/commit/e431daf013ea04cb1a988a2009d820224ef5fb79

[2020-04-29 14:57] kflak commented on #575
Thanks a lot! On my system this works with these settings:
[code]
It _also_ works with
[code]

[2020-04-29 15:00] #575 closed

[2020-04-29 15:00] #614 closed

[2020-04-29 15:13] crisidev commented on #621
I am on 18.04, but I had an old pinned package, totally my fault. This can be closed. Sorry about that.

[2020-04-29 15:13] #621 closed

[2020-04-30 11:17] mox-mox opened #624 "Add a `workspaces` block"
Feature-request: would it be hard to create a block that shows workspaces?
My rationale is that I would like to have the workspaces in the same style as the rest of the bar. But currently, that would mean I'd have to get swaybar to support the same theming as i3-status which it AFAIK does not.

If there is a chance to get such a block merged, I might try to implement it myself.

[2020-04-30 17:32] xxxserxxx commented on #569
Can we re-open this?  It's a persistent issue on my machine; i3status-rs ranges between 12% and 20% constant CPU use; i3bar is at 30%.  When running different status programs, i3bar does not demonstrate this high use.  I'm happy to run debugging.

After I wrote all of this out, I ran i3status-rs on the command line by itself; it echo'd to the STDOUT as expected, paused for a second, and then start

[2020-04-30 17:59] xxxserxxx commented on #569
Well, that was easy.  I haven't vetted *all* of the blocks yet, but it's music.  If that's enabled, i3status-rs just dumps out nonstop with no pause.  I tried both with specifying `player`, and not specifying `player`.  My system uses mpd-mpris.

One thing I've noticed is that i3status-rs doesn't appear to buffer updates; whatever threading is going on to support different intervals, if two arrive

[2020-04-30 18:00] xxxserxxx commented on #310
@atheriel, I don't think so.  See #569, which I traced down to the music block -- unless what I found is unrelated to the root cause of this.

[2020-04-30 18:04] xxxserxxx commented on #302
@atheriel , can you explain to a non-Rust developer what the issue is?  Is this a limitation in Rust itself?  Does it not support interrupts?  I'm wondering mainly because the functionality is common both among i3status replacements and outside of that space, and is not difficult in the languages I'm current on.  I am curious whether this is something to do with the design of i3status-rs, or is a

[2020-04-30 19:39] atheriel commented on #302
@xxxserxxx Sure!

We currently use [MPMC channels](https://docs.rs/crossbeam/0.7.3/crossbeam/channel/index.html) to [send "update" messages from blocks](https://github.com/greshake/i3status-rust/blob/master/src/main.rs#L118) back to the main thread. But these channels are only one-way (at least at present, maybe this is possible to change). So if we did receive a signal to update the config, we cu

[2020-04-30 19:45] atheriel commented on #569
@xxxserxxx Best to file a more specific new issue, e.g. "high CPU when running the music block with `mpd-mpris`".

[2020-04-30 19:48] atheriel commented on #624
It's certainly possible if you can find a way to do it through i3's [IPC mechanism](https://i3wm.org/docs/ipc.html), which is how the focused block window works today. Sway supports the same interface.

[2020-04-30 19:54] atheriel commented on #624
To add: yes, we would probably support adding such a block, although I think it's also worth proposing a design for what it would show before fulling implementing it.

[2020-04-30 22:16] xxxserxxx commented on #569
@atheriel Do you think it *isn't* related to #310?  I will file a new ticket if you want; I just don't want to go through that effort to just have it closed as a duplicate, and #310 looks awfully similar.

[2020-04-30 22:31] xxxserxxx commented on #302
Hm.  That'd be a fair bit of ABI to change, to be sure, but setting up channels in the other direction so the configuration management process -- whatever that is -- could read and spam out new configuration information in an immutable message doesn't seem like it'd be *hard* -- it's just a lot of little changes to function definitions, right?  And some code in the functions to listen on a channel

[2020-05-01 13:54] #278 closed

[2020-05-01 13:56] tim77 commented on #278
Missed message, will try today.

[2020-05-01 14:35] #587 closed

[2020-05-01 15:00] ammgws commented on #467
![image](https://user-images.githubusercontent.com/20397027/80814994-d4bc6e80-8c07-11ea-96c4-23c8737f3f7f.png)

I can't reproduce on sway. I'm using a simulated wireless device but it shouldn't make a difference... :/

[2020-05-01 15:03] ammgws commented on #409
![image](https://user-images.githubusercontent.com/20397027/80815198-25cc6280-8c08-11ea-91c3-b79573703fdd.png)

I can't reproduce on sway. Using a virtual wireless device/AP with the SSID set to "Sunday", and it displays properly.

[2020-05-01 15:09] ammgws commented on #385
Perhaps the pacman block could be extended with support for checking the output of a command supplied in the i3status-rust's config file.

[2020-05-01 15:11] ammgws commented on #397
It's not possible at the moment, but perhaps it could be added somehow.

[2020-05-01 15:27] tim77 commented on #278
✅ https://github.com/greshake/i3status-rust/pull/615 definitely fixed this issue. Thanks a lot!

[2020-05-01 15:29] ammgws commented on #247
@concatime Sorry for the delay but does #625 solve this for you?

[2020-05-01 22:49] harryNID commented on #614
I narrowed down what was causing this issue for me if you are interested. This is with "-M" enabled.

As noted above I had "**step_width = 3**" in my config. If I either remove that option (thereby using the default) or set it to a number above "3" then everything works fine. If I set it to "3" it stops at 85%.
If I set it to "2" it stops at 75% and If I set it to "1" it will only lower the volume

[2020-05-02 02:24] ammgws commented on #478
Maybe could be used as an example block for the Custom block?

[2020-05-02 02:24] #417 closed

[2020-05-02 02:32] ammgws commented on #447
This could possibly be added, however it won't solve the issue of not being able to set the brightness itself.

[2020-05-02 03:06] ammgws commented on #447
@shunlir Did you try this from our docs?

### Setting Brightness with the Mouse Wheel

The block allows for setting brightness with the mouse wheel. However, depending on how you installed i3status-rust, it may not have the appropriate permissions to modify these files, and will fail silently. To remedy this you can write a `udev` rule for your system (if you are comfortable doing so).

First, che

[2020-05-02 03:11] #405 closed

[2020-05-02 03:13] ammgws commented on #404
Unfortunately it doesn't support sway's get_inputs or input events and the maintainer has been AWOL for over 6 months.

[2020-05-02 04:41] vvrein commented on #404
And what about https://github.com/leshow/tokio-i3ipc ?
(just few-seconds-search, idk does it really could help)

[2020-05-02 05:21] ammgws commented on #404
There's a sway one but might not be backwards compatible with i3. On mobile atm

[2020-05-02 05:28] ammgws commented on #404
https://github.com/JayceFayne/swayipc-rs/blob/master/src/socket.rs

If only this was updated to check for I3SOCK as well, then I think it could be used for i3 as well since sway is meant to be backwards compatible wrt the JSON protocol.

[2020-05-02 05:42] vvrein commented on #404
Found the same... seems ok for sway
![image](https://user-images.githubusercontent.com/17022100/80856174-20d2d780-8c37-11ea-9c4f-ec3bec84242d.png)

[2020-05-02 05:48] ammgws commented on #404
I guess we could just call swaymsg ourselves

[2020-05-02 07:30] #409 closed

[2020-05-02 08:16] #603 closed

[2020-05-02 13:38] ammgws commented on #401
@atheriel I saw [this](https://github.com/alexcrichton/proc-macro2/issues/139#issuecomment-621558749) comment today and gave it a go - it built successfully.

Dockerfile:
[code]

`docker run --rm -it -v "$(pwd)":/src i3status-rust sh -c 'cd src && RUSTFLAGS="-C target-feature=-crt-static" cargo build --release'`

[2020-05-02 13:50] ammgws commented on #207
I believe this was solved by https://github.com/greshake/i3status-rust/pull/346

[2020-05-02 13:50] #207 closed

[2020-05-02 13:56] ammgws commented on #399
Closed via #626

[2020-05-02 13:56] #399 closed

[2020-05-02 13:57] ammgws commented on #503
Please re-open if there's anything we can do on our side

[2020-05-02 13:57] #503 closed

[2020-05-02 13:59] #381 closed

[2020-05-02 14:08] ammgws commented on #132
Done in #628

[2020-05-02 14:08] #132 closed

[2020-05-02 15:23] OddBloke commented on #399
Thanks, excited to use this!

On Sat., May 2, 2020, 09:56 Jason, <notifications@github.com> wrote:

[2020-05-02 18:23] mismosmi opened #629 "Battery Block background color"
Hi,
sorry to bother.

I hope this is just a config issue but I can't seem to figure out what's wrong on my own so maybe you can help me.

My problem is that the battery block does not seem to obey my set background colors:

![Screenshot from 2020-05-02 20-19-38](https://user-images.githubusercontent.com/26325283/80872499-9b8d0880-8cb2-11ea-9dcd-5db719755a41.png)

Config is
[code]

Thanks in advanc

[2020-05-03 01:59] carloabelli commented on #629
Looks like `good_bg` and `good_fg` overrides are not being used. I'll have a PR shortly.

[2020-05-03 02:37] #629 closed

[2020-05-03 07:09] #447 closed

[2020-05-03 07:09] kflak opened #632 "[FR] Weather block: make it possible to configure by city/country instead of city_id"
Hi,

Been tinkering around a bit with the openweather-api, and it would be great to be able to fill in
[code]
instead of city_id. This would make it easier to update my location as I travel around (post-COVID, of course...)
Turns out this is possible by running a different curl command than the one in `blocks/weather.rs`:
[code]

I am sure there are issues with this that I haven't quite anticipate

[2020-05-03 07:16] ammgws commented on #632
Generally we try to avoid breaking existing configs, so I guess this could be separate to the existing city_id. So you either need to specify `city_id`, or specify both `city` and `country`, or maybe just one parameter using a TOML array.

[2020-05-03 07:41] kflak commented on #632
Yes, of course! Sorry about the sloppy wording above. It would obviously have to be an additional option....

[2020-05-03 07:44] kflak commented on #632
Conveniently, all these ways of specifying country work in the call to openweathermap:
Estonia, estonia, EE. So these calls seem to be equivalent:
[code]

[2020-05-03 10:53] gabm opened #633 "Turned off network adapter results in error message"
When i turn of the wifi via software `wifi off`, then I get an error:

Error in block 'net': failed to read /sys/class/net/wlp0s20f3/carrier

I can't seem to read that pseudo-file manually, so its not really i3status-rusts fault. But: what can I do?

I found this: https://unix.stackexchange.com/questions/252002/help-testing-special-file-in-sys-class-net

[2020-05-03 11:10] ammgws commented on #633
Ok so looks like that file is unreadable when the interface is disabled. I just pushed a fix - please see if it works for you.

[2020-05-03 11:42] gabm commented on #633
That seems to work. thank you for the fast fix!

[2020-05-03 11:42] #633 closed

[2020-05-03 13:55] ammgws commented on #632
I started working on this but then realised:

vs

for city_id.

Maybe we could just take the first result if there are multiple?

[2020-05-03 14:15] kflak commented on #632
If you want to get fancy you could maybe do an automatic retrieval of gps coordinates based on some ip location service and feed openweathermap the exact location...? This is in fact my ideal use case, but not entirely sure how to pull it off. My Rust skills are not yet very advanced, unfortunately.

[2020-05-03 15:02] ammgws commented on #632
Hmm, an "auto" feature would be more involved. Perhaps another time.

For now, could you give #635 a go?

[2020-05-03 15:55] kflak commented on #632
Yup, seems to work fine! Really appreciate the option for setting the place as an environment variable as well, then I can run something like this script to get my current location occasionally:
[code]
Probably very suboptimal :-)

[2020-05-03 15:55] kflak commented on #632
Furthermore,  I just have to say that you guys are super responsive about everything! Very impressed by the work you are putting into this project.

[2020-05-03 23:21] #632 closed

[2020-05-03 23:49] snicket2100 opened #637 "'cpu' module breaks for more than 32 CPUs"
It looks like https://github.com/greshake/i3status-rust/commit/3bd6bde6c09017fc45a39ba0230203b0bc99f481#diff-add6d8cceff79e8da5607fd20c1137fd has introduced a bug which with more than 32 CPUs present causes `i3status-rust` to crash due to the `cpu` block. The error message is as follows:

[code]

my `cpu` block config is:
[code]

I guess this code fragment could help around line 153:
[code]
the sa

[2020-05-03 23:59] snicket2100 commented on #637
I have tested it with the fix and it doesn't crash for me anymore.

[2020-05-04 00:30] ammgws commented on #637
So you actually have more than 32 on your machine?

[2020-05-04 01:18] snicket2100 commented on #637
Yeah, an 18-core CPU with hyper-threading counts as 36 and was enough to trigger this bug.

[2020-05-04 01:30] #637 closed

[2020-05-04 14:33] ammgws commented on #432
Added via #640

[2020-05-04 14:33] #432 closed

[2020-05-04 15:35] ammgws commented on #101
@Kommynct Did you ever end up testing on your other PC?

[2020-05-05 05:46] Celti opened #642 "Using `actual_brightness` breaks backlight block"
My laptop's backlight driver is `amdgpu`; commit 15b7b7d to use `actual_brightness` instead of `brightness` forces the block to always display brightness 100%, and will set the brightness to 100% when trying to set the brightness via scrolling.

The cause of this is very obvious:
[code]
`actual_brightness` is on a _completely_ different scale from `max_brightness` — even if I set the brightness to

[2020-05-05 05:59] ammgws commented on #642
[Looks like](https://github.com/polybar/polybar/blob/068bf5a311725bfef66b1f9d30be2ac5c0df59eb/src/modules/backlight.cpp#L50-L54) it's specific to amdgpu:

Wonder if it's easier to make it configurable in case there are others apart from amdgpu that behave the same

[2020-05-05 07:01] #642 closed

[2020-05-05 07:01] ammgws commented on #642
Try with master

[2020-05-05 11:17] ammgws commented on #632
Sounds like #367 is what you want

[2020-05-05 14:28] kflak commented on #632
Very interesting, thanks for the tip!

[2020-05-06 07:44] dunrix opened #644 "Pango error - unescaped blocks/net command output"
When SSID name contains regular non-alphanumeric characters like `&`, widget output fails with following error being logged:

It seems output of external commands is not handled properly (ie. escaped) before sent to i3bar.

Affected lines for `blocks/net`:
https://github.com/greshake/i3status-rust/blob/2efa54c39fa56613ecfe77b34a7cb248bc783de0/src/blocks/net.rs#L170

https://github.com/greshake/i3s

[2020-05-07 15:06] ammgws commented on #644
Something like this?

![image](https://user-images.githubusercontent.com/20397027/81310770-81db2f00-90bf-11ea-8c76-26a007d2edee.png)

There are errors galore in sway's output but the bar itself appears to be working for me. Or at least it was reacting to the network going up and down. I can only test with a virtual wifi adapter so testing is kinda limited.

Does the bar crash for you?

[2020-05-07 15:34] ammgws commented on #644
However this is implemented in our code, these are the chars that have to be escaped:

[code]

[2020-05-08 14:41] PicoJr commented on #430
Maybe it's time to reconsider using async I/O now that [async/await is stabilized](https://blog.rust-lang.org/2019/11/07/Async-await-stable.html)?

Doing a complete architecture overhaul sounds quite intimidating though.

Maybe we could work out a way to progressively "async" the core by supporting both _async_ and _non-async_ behaviours at the same time?

[2020-05-08 14:48] #42 closed

[2020-05-08 15:12] ammgws commented on #478
Added it as an example in the docs so hopefully it can help the next person who comes across this!

[2020-05-08 15:12] #478 closed

[2020-05-08 15:14] ammgws commented on #543
Closing in favour of #77

[2020-05-08 15:14] #543 closed

[2020-05-08 15:15] ammgws commented on #429
@travankor Do you still experience this?

[2020-05-08 15:17] ammgws commented on #420
Hmm, does this happen on `i3` too? I don't have a working setup to test with atm, just sway.

[2020-05-09 05:32] ammgws commented on #165
Closed via #515

[2020-05-09 05:32] #165 closed

[2020-05-09 06:45] ammgws commented on #237
@jedahan That would be nice. Are you up for the challenge?

In the meantime I added ipv6 as another bool option via #647.

[2020-05-09 06:50] #237 closed

[2020-05-09 07:13] ammgws commented on #247
Confirmed it works.

Closing via #625

[2020-05-09 07:13] #247 closed

[2020-05-09 07:20] concatime commented on #247
Sorry, I was quite busy. And to be honest with you, I’m currently using Waybar.

[2020-05-09 07:40] dunrix commented on #644
@ammgws No, the bar does not crash but SSID string is not displayed and quoted error starts appear in `.xsession-errors` log.

Tested with two access points, one constituting ID with alphanumeric chars only, the second with ampersand in between (like "*Laurel&Hardy*"). The issue exists only in the second case.

[2020-05-09 07:43] ammgws commented on #644
OK so it doesn't display at all on i3, while it does on sway.

Need to come up with a function that escapes these for us.

[2020-05-09 07:52] dunrix commented on #644
Yep, I'm running with `i3`.

Didn't found where the special characters get escaped in `i3status-rust` code.

[2020-05-09 08:06] ammgws commented on #167
Implemented via #648

[2020-05-09 08:11] ammgws commented on #644
I just realised I came across this error before in another block: https://github.com/greshake/i3status-rust/pull/518.

We don't escape anything at the moment. We need to write a function that escapes those characters listed above and then use it here: https://github.com/greshake/i3status-rust/blob/d6efae28e53d41d9f2909918a03b4223cc42f994/src/widgets/button.rs#L50, and anywhere else that has `"mark

[2020-05-09 08:15] ammgws commented on #644
I'll get around to it in a couple hours

[2020-05-09 08:59] travankor commented on #429
@ammgws Yes, and I don't see any commits that fixed it.

Basically, [this function](https://cgit.freedesktop.org/upower/tree/src/linux/up-device-supply.c#n234) has to be translated to Rust. So instead of erroring[ here](https://github.com/greshake/i3status-rust/blob/master/src/blocks/battery.rs#L57), use the calculate_rate() function.

I've been meaning to learn Rust enough to fix this but I didn'

[2020-05-09 12:01] GladOSkar commented on #429
I assume that just taking `current` * `voltage` is probably closer to the way the `power` sysfs value would behave.

IMO, actually taking a linear regression over time would probably be neat and more accurate (even for the `power` case), but also quite a bit more complicated

[2020-05-09 12:15] #644 closed

[2020-05-09 12:16] ammgws commented on #644
It's fixed for me now. Please re-open if not for you.

[2020-05-09 12:54] #167 closed

[2020-05-09 13:02] PicoJr opened #652 "Next release: 0.14.0 ready?"
Already >190 commits :rocket: to master since last release (0.13.1).

* 0.11.0 -> 0.12.0 = 55 commits
* 0.12.0 -> 0.13.0/1 = 60 commits
* 0.13.0/1 -> 0.14.0? = ~200 commits

It sounds next release will be quite dense (many new features + fixes) :partying_face:.

What is left to do before `master` can be considered as a stable release candidate?

Thanks for the great work =)

[2020-05-09 13:40] ammgws commented on #429
For now I just implemented the P=IV method, but need someone to test it.

[2020-05-09 13:58] ammgws commented on #652
The delay of the next release is just due to the maintainers being busy with life. @atheriel has been handling releases for a while now, so I might defer to him for now.

[2020-05-09 14:54] ammgws commented on #404
@vvrein I wanted to see if we could replace i3ipc-rs that we use for the focused_window block with swayipc-rs, so I monkey patched swayipc-rs to read I3SOCK and swayipc-rs seemed to work fine on i3. So we can make this happen like this:

1. Rewrite focused_window block to use swayipc-rs and test it
2. Send PR to swayipc-rs to allow using I3SOCK when SWAYSOCK isn't available/manually
3. If maintain

[2020-05-09 15:19] PicoJr commented on #652
It's what I thought, it was just in case some help was required in order to prepare the next release.

I'm happily recompiling from sources for now =)

[2020-05-09 15:19] #652 closed

[2020-05-09 15:49] ammgws commented on #385
@PicoJr Not a release blocker, but perhaps you might like to work on this? I was thinking something like:

- add an optional `aur_command` to the config, and the pacman block can run that to determine how many AUR updates there are. Since there are many AUR helpers, it's up to the user to supply the appropriate command.

- add a formatter to the pacman block with qualifiers {pacman}, {aur}, {both}

[2020-05-09 16:19] #189 closed

[2020-05-09 16:20] ammgws commented on #189
@jgbyrne Thanks for your work on this. I ended up implementing it into the current music block with a config option.

[2020-05-09 16:45] ammgws commented on #205
Closing due to inactivity.

[2020-05-09 16:45] #205 closed

[2020-05-09 16:52] ammgws commented on #274
@evanrichter Does this still happen?

[2020-05-09 18:06] evanrichter commented on #274
I don't know, sorry!

[2020-05-09 20:26] PicoJr commented on #385
Ok, the supplied command should output available updates to stdout. Then we can process the output the same way we do with pacman.

I guess it should work: I don't use an AUR helper for now ^^'

I am not sure I understand what it means.

Does it mean:

* `{pacman}` = update count for Arch Repository (AR)
* `{aur}` = update count for Arch User Repository (AUR)
* `{both}` = update count for AR + upd

[2020-05-09 21:36] travankor commented on #429
Yes, it does. Thanks for looking into this.

[2020-05-09 22:35] ammgws commented on #385
Ah, I was going off the top of my head. Could change `pacman` to `count`, or just have both for now and deprecate count in the future.

[2020-05-09 22:53] ammgws commented on #429
Can you check what values it outputs? Then we can compare it to the current * voltage method and see if maybe we want to prefer powercap before falling back to P=VI.

[2020-05-09 22:58] GladOSkar commented on #429
As mentioned in the Stackexchange post you linked, it only provides a microjoule counter, which is probably just as difficult to get a power draw from as doing it via the other charge values

[2020-05-09 23:16] ammgws commented on #429
Yeah it would need to be sampled over time. Was just wondering how its values correlate with the other method to see if it's worth looking into in the future.

[2020-05-09 23:19] GladOSkar commented on #429
Yeah maybe. I put some thought and research into calculations like this (averaging intervals and such) in #214 , might be worth a look

[2020-05-10 09:00] dunrix commented on #644
Works for me. Thanks!

[2020-05-10 13:06] #429 closed

[2020-05-10 13:53] ammgws commented on #385
Implemented via #385 thanks to @PicoJr

[2020-05-10 13:53] #385 closed

[2020-05-10 14:44] #598 closed

[2020-05-10 15:24] #555 closed

[2020-05-10 15:26] ammgws commented on #89
@PicoJr Only if you're interested:

A way to have the custom block run only one time as mentioned above. Instead of introducing another boolean, I think being able to do it via the interval would be nice, but haven't looked into whether that's actually possible or not.

[2020-05-10 16:39] PicoJr commented on #89
[code]

`interval` is deserialized as a `std::time::Duration`

`std::time::Duration` is built using `pub fn new(secs: u64, nanos: u32) -> Duration`

Negative durations cannot be represented (`u64`, `u32`), it means we cannot rely on this kind of hack ^^'

It feels like we need something a bit broader than a duration:

[code]

However it would mean adding support for this in the core.

We could min

[2020-05-10 21:44] carloabelli commented on #598
@ammgws Sorry I was busy and just now saw this. Looks like there were two small bugs, so here's a PR with the fixes.

[2020-05-10 22:17] ammgws commented on #89
Thanks for looking into it!

[2020-05-11 01:59] carloabelli opened #663 "Enable clippy linting in travis"
This is a tracking issue for enabling clippy lints in travis CI.

My current plan is to enable basic clippy linting so that `cargo clippy` passes. There is one remaining lint warning, but for now I will simply have clippy ignore it since it looks like it could be a more involved change.

After that it would be nice to:
- get `cargo clippy --all-targets --all-features` working
- remove the workarou

[2020-05-11 03:47] carloabelli commented on #663
Currently the only lints that will cause a failure are those marked deny by default in the correctness, style, complexity, and perf groups.

It could be a good idea to also disallow any warnings in the defaults groups as well.

The various lints can be explored here: https://rust-lang.github.io/rust-clippy/master/index.html

The various lints can be explored here: https://rust-lang.github.io/rust-

[2020-05-11 15:59] Ergus opened #668 "xrandr block important performance issue in Debian"
Hi:

I have been using the xrandr block in Arch linux for more than a year and it works normally. Recently I was trying it in Debian and the experience was terrible.

After some hours blaming the video driver, video configuration, xorg config etc etc etc I found that the source of the problem was the xrandr block!!!

I had the same config in arch and debian

[code]
And the screen keep freezing con

[2020-05-11 16:05] ammgws commented on #668
Sounds like the same as this comment: https://github.com/greshake/i3status-rust/issues/274#issuecomment-560395604

What's the version of xrandr in your Debian install? All we do is call the command, so if there's any difference it would be in xrandr itself.

[2020-05-11 16:08] Ergus commented on #668
Arch:
[code]

[2020-05-11 16:16] ammgws commented on #668
Hmm 4 years and a bunch of commits between those versions: https://gitlab.freedesktop.org/xorg/app/xrandr/-/commits/master

Wonder if there is anything there. Otherwise if you can, please compile 1.5.1 on Debian and see if you can reproduce.

[2020-05-11 16:33] ammgws commented on #668
From a quick look the block first gets a list of monitors:
`xrandr --listactivemonitors | grep \\/`
Then runs this command for each monitor:
`xrandr --verbose | grep -w '{} connected\\|Brightness'` (replace {} with monitor name)

Do running those command in a terminal in Debian produce the same issue?

[2020-05-11 22:04] matclab commented on #644
I'm not sure, but I have the impression tha escaping does defeat the purpose of pango markup or did I miss something.
For example, I have the following conf:
[code]
Before, the hour:minute  part of the time widget was displayed as bold, but now I see the markup in the widget.
Shouldn't the escaping only be done for each widget when the user has no control of the data (for example ssid).

[2020-05-11 23:30] ammgws commented on #644
Hmm I'm on mobile atm so a bit limited but I suspect it's because you don't have pango set in your i3/swaybar font config. IIRC pango output is enabled for all blocks that use the TextWidget, so it's likely you'd see unformatted pango in other blocks as well. If enabling pango in your config isn't an option then will need to think about this...

[2020-05-11 23:47] ammgws commented on #644
Sorry I misread your comment. So your pango formatting was actually broken by this. I'll look into this tonight hopefully!

[2020-05-12 04:38] ammgws commented on #644
Indeed. I'll push a fix today or tomorrow.

[2020-05-12 14:35] xxxserxxx opened #669 "Question: How to debug blocks?"
Is there an env var to enable debugging? I don't see a command line option to enable debugging.

I have a toggle block with a `command-state` that, when executed on the command line, outputs "1" on STDOUT and a success exit code.  The toggle remains "off" in the bar.  Manually toggling it triggers something, but it flips back almost immediately. I'd like to debug this.  I don't see any output in `

[2020-05-12 15:12] ammgws commented on #669
There's no debug output at the moment.

What version are you using?
Can you give me a minimal reproducible example that I could test with?

[2020-05-12 16:03] #404 closed

[2020-05-12 16:05] ammgws commented on #486
Implemented via #532

[2020-05-12 16:05] #486 closed

[2020-05-12 16:09] ammgws commented on #404
@asahaf @2m @vvrein
Implemented via #670

[2020-05-12 16:36] xxxserxxx commented on #669
`-V` says 0.13.0, but it's cloned and built from git; `rev-list` HEAD gives me 5e6e1ed4e47ca38b21cb5268251995ed23fd9708.

**Any** command produces the same behavior.  `ls`. `yes | head -1`.  Here's a version using "echo":
[code]
It all behaves the same way.  A couple of weeks ago, I had something working, but I changed what I was toggling about a week ago and it stopped working; I thought it was m

[2020-05-12 16:52] xxxserxxx commented on #669
I just pulled and compiled, and now i3bar is **really** unhappy, because i3status-rust is putting a "," at the end of every response.  I *think* that's what it's complaining about, anyway -- the `.xsession-errors` is filling up with these errors:
[code]

[2020-05-12 17:00] xxxserxxx commented on #669
Reverting commit 88bfba7efbd2a4832857f337cbcf815e23ad7932 doesn't make Toggle work for me, but it stops the block from crashing i3bar.

[2020-05-12 22:24] ammgws commented on #669
It's meant to do that, so it's probably something else. I wonder if it's due to the output of your commands. Does it still give those errors with your `echo` example from above?

This is your example block running with i3status-rs git master:
https://i.imgur.com/Ci9IJLm.mp4
That's how you expect it to behave, right?

[2020-05-13 14:43] ammgws commented on #302
I'm going to re-open this as I have found the need for this while developing i3status-rs on sway(-git). Reloads sometimes crash sway which isn't nice to deal with, and testing with sway within sway has it's own limitations.

@faulesocke By `exec()` do you mean using C's exec* functions?

[2020-05-13 15:09] matclab commented on #644
Thanks !

[2020-05-13 15:23] matclab opened #676 "Add per widget wide/narrow switching behavior"
My bar is quite full and some time has not enough space to display everything.

Thus, it would be useful to enable switching between a full width widget and between a narrower widget (with less information).
For example, the net block may display IP addresses only in the wide mode.
The time block may have two format string, on for the wide mode and on for the narrow mode.
…

I propose using the ri

[2020-05-13 15:24] ammgws commented on #669
The block crashing issue should be fixed with #674

What happens if you try your test config with the below?
[code]

[2020-05-13 15:27] ammgws commented on #676
Haha, I just thought of this tonight as well. The i3bar JSON schema actually has a field called `short_text` which is used for this exact situation. I was going to test it out with a random block to see if/how it works. For reference we only use the `full_text` field at the moment:

https://i3wm.org/docs/i3bar-protocol.html

[2020-05-13 15:34] xxxserxxx commented on #669
Haven't had a chance to process your comments yet, but am looking at it now.

[2020-05-13 15:39] ammgws commented on #669
No worries. If it's still not fixed, if you could post your actual command then I could look into it further.

[2020-05-13 15:56] xxxserxxx commented on #669
@ammgws I edited my comment, but you got here before I did.  Please see above.

FWIW, the only argument I'm running i3status-rs with is the location of the config file.

[2020-05-13 20:45] travankor commented on #676
Some blocks already have a collapsed mode that can be collapesed or expanded on click. I wonder how this approach compares to short_text?

[2020-05-13 21:49] mox-mox commented on #624
Well, it would show a button for each workspace as received from the sway ipc event.
If you click a button, it takes you to the pertaining workspace. If a workspace has the 'urgent' status it is highlighted. Really, about the same as what swaybar does.
If this works well, I might also create a block to show the mode to be able to completely replace that bit of swaybar as well.

[2020-05-14 06:53] matclab commented on #676
Oh ! I didn't used any of this block (music & temperature), so I didn't know.
I guess it is the same feature which just as to be ported to other blocks…
I'll submit a PR using the same terminology.

[2020-05-14 07:23] ammgws commented on #676
Let's investigate `short_text` first, since it means collapsing would be done automatically, and would free up a click action for the blocks. Some blocks might already be using all clicks, or might in the future (such as the `custom` block), for other functionality.

[2020-05-14 07:30] ammgws commented on #669
If the toggle command exits with a non-zero status, the block will not be toggled.

The example config below should toggle:

If that works, that means your toggle command is exiting with a non-zero exit status. Can you check why that's happening?

[2020-05-14 07:36] matclab commented on #676
Ok. But as a user, I'd like to be able to switch back to `full_text` in order to see masked information ("what is my IP, what is the date?") if possible (if I have not mapped the click to other functionality in the configuration or if the block has not already mapped all clicks).
I may give a try, but with no promise about delivery :-)
@ammgws do not hesitate to give a try !

[2020-05-14 10:18] PicoJr commented on #89
Hello, it's only a proof of concept: https://github.com/PicoJr/i3status-rust/tree/feat-once

It can be tested with:

status.toml:

[code]

Sample output:

[code]

Only the 2nd custom block is updated (it shows it was only updated the first time).

It's really WIP (I modified the default interval for custom block), it also panicks with the following status.toml: (nothing to schedule after 1st updat

[2020-05-14 13:09] ammgws commented on #89
This is a problem that occurs when the config doesn't contain any blocks that use an update scheduler.  I didn't have time to look into it properly so I just kludged the affected blocks (focused_window etc) with a dummy scheduled update so that it doesn't crash the bar. By removing the scheduler here you've run into that problem. Hopefully it can be fixed properly sometime.

[2020-05-14 13:36] #663 closed

[2020-05-14 14:46] xxxserxxx commented on #669
Aha.  Ok, so I changed the on/off commands to echo to a file, and played around with various `command_state` commands and I think it's behaving -- after #674 I just needed to get back to a sane place.  Now the trivial case works; I still can't get the `command_state` to do what I'd expect, so maybe I'm still not understanding something.

What I have for a command state is:
[code]
The idea is that

[2020-05-14 15:16] ammgws commented on #669
I installed TimeWarrior and ran `timew start test`.
`"timew get dom.active | grep 1` prints "1" to stdout and exits cleanly.

Ran i3status-rust with this config:
[code]
Block is behaving as expected: https://imgur.com/a/2QqJWyx

[2020-05-14 15:17] ammgws commented on #669
I wonder what other blocks it might be useful for though.

[2020-05-14 15:45] xxxserxxx commented on #669
`grep` was exiting non-zero if it didn't match, which was preventing `toggle` from doing anything.

So: for toggle to work properly:
1. `command_state` has to print something out to mean "on"
2. `command_state` has to print *nothing* out to mean "off" (both of these are documented)
3. `command_state` has to exit successfully, $? == 0 (this one is *not* documented)
4. The exit codes and output of `

[2020-05-14 15:49] #669 closed

[2020-05-14 15:51] ammgws commented on #669
Hmm, wonder if this is intentional or a bug... I will look into it.

Personally I think `command_state` should behave the same as the on/off commands: exit 0 for ON, otherwise for OFF. But it would be a breaking change.

[2020-05-15 16:24] ammgws commented on #302
Looks like the `nix` crate we already use has what we need: https://docs.rs/nix/0.8.1/nix/unistd/fn.execvp.html

[2020-05-15 18:09] GladOSkar commented on #676
I agree that some sort of hybrid would be most desirable - Both automatic (when screen width is reached) and manual (on click) truncation/shortening. No idea how that would be possible though.

[2020-05-15 20:51] andersfylling opened #686 "Where are the themes located?"
I read the wiki, the themes markdown, the man pages for this project. But I can't figure out where the themes are installed.

I also noticed that changing the theme, seem to do nothing. My XDG_CONFIG_HOME environment variable is not set, and I don't have a .Xresources file in my home folder.

[2020-05-16 06:19] ammgws commented on #686
[code]

If you're looking for the default theme files I don't think we have exposed all of them yet, but according to the above they should be in /use/... However they will only be there if whoever packaged i3status-rust for your distro actually copied the example theme files to /usr/...

[2020-05-16 06:24] ammgws commented on #686
However if you're content with the themes that come with i3status-rust, you change the theme like this in your config:
_

[theme]
name = "slick"

Is that not working? It doesn't depend on any external files as those themes are all built into the source code.

[2020-05-16 09:27] andersfylling commented on #686
Interesting. Cause I do not have the path `/usr/share/i3status-rust`. Nothing i3 related in `/usr/share` at all actually.

It does seem like this has just been me not being able to notice the color change from the themes I compared. So I'll close this :sweat_smile:

Changing it from "modern" to "slick", does yield a slightly brighter colour. The reason I brought this up is because I tried to get t

[2020-05-16 09:27] #686 closed

[2020-05-16 10:04] ammgws commented on #686
How did you install i3status-rust? If you pulled from GitHub and built it yourself, it's up to you to make the folder and copy the appropriate files there (even though there's not much point in doing that). Usually whoever packages i3status-rust for your distro would setup the install script so that it copies the files there.

Anyway for switching between the premade themes you don't need to think

[2020-05-16 10:06] andersfylling commented on #686
thank you. I used AUR. the package is named "i3status-rust-git". I noticed there were almost 300 new commits, so I wanted to avoid the previous version as I felt it could perhaps be outdated.

[2020-05-16 10:50] ammgws commented on #686
Something like the linked line would need to be added to the PKGBUILD for the themes located [here](https://github.com/greshake/i3status-rust/tree/master/example/theme) (at the moment there is only one example theme in there):

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=i3status-rust-git#n46

[2020-05-16 16:34] ammgws commented on #676
We could set `short_text` where possible and then let i3/sway do it's thing to automatically shorten the bar. Then where possible add an `on_click` to blocks that changes `short_text` back to `full_text` and vice versa when clicked. I guess using right click would be the most safe option, but I think there are some blocks that already use left and right.

[2020-05-17 14:30] ammgws commented on #77
Probably need the nix crate to implement this first: https://github.com/nix-rust/nix/issues/1143

[2020-05-17 15:44] timokratia commented on #274
I'm in a similar situation: enabling the `xrandr` block causes my computer to reboot after 2 to 10 minutes. Please let me know where to look for the related system log so I can provide more information, since I'm not very familiar with it. Thanks!

I'm using Solus on a ThinkPad X220, and `xrandr --version` gives me
[code]

[2020-05-17 15:54] ammgws commented on #274
From a quick look at the source, this is what the block does every update interval:
1. Gets a list of monitors: `xrandr --listactivemonitors | grep \\/`
1. Then runs this command for each monitor: `xrandr --verbose | grep -w '{} connected\\|Brightness'` (replace {} with monitor name from first command)

If you make a bash script that loops those commands every xx seconds do you experience the same

[2020-05-17 15:58] ammgws opened #692 "[net block] add `format` option"
As mentioned here https://github.com/greshake/i3status-rust/issues/237#issuecomment-570277470

[2020-05-17 17:24] timokratia commented on #274
Thanks for the reply! I do experience the same symptom.

The first time I ran `xrandr --verbose | grep -w '{} connected\\|Brightness'`, it rebooted immediately. Then I put the commands in a script and use `watch` to run them every 5 seconds. I tried 2 times, and my computer rebooted after 10 and 2 minutes.

It might also has something to do with my ThinkPad I'm not sure, because I had it modded fo

[2020-05-17 17:36] ammgws commented on #274
I suppose so but at this point it's not a bug with i3status-rust, but rather with xrandr/your system, and I use a Wayland system so not sure how much actual help I can provide.

Maybe check dmesg output and X logs (probably in /var/ somewhere)?

Also what distro you're running and your graphics info might be helpful too.

[2020-05-17 22:13] #89 closed

[2020-05-18 02:32] timokratia commented on #274
You're right, I'll look for related `xrandr` bug reports as well as dmesg and X logs as you pointed out.

I'm using [Solus](https://getsol.us/home/), and `neofetch` says the graphic is `Intel 2nd Generation Core Processor Family`.

Thank you for your help, I'll come back to report more info if I find anything useful. Cheers.

[2020-05-18 06:27] ammgws commented on #267
If polling is OK we could just get the state via /sys/class/leds/inputXX::capslock/brightness

[2020-05-18 16:28] bruno-unna opened #696 "Zombie setxkbmap process with kbddbus"
Hello! Lovely project, thanks a lot. My _i3_ is much better with this status bar.

I've noticed recently that the `keyboard_layout` block, when using the `kbddbus` driver (at least), creates a zombie `setxkbmap` process. Nothing to write home about, but I feel it would be cleaner if it didn't.

[code]

_xorg's_ keyboard configuration:
[code]

My _i3status-rust_ configuration:
[code]

My system is

[2020-05-18 16:48] eater opened #697 "Feature request: Enhanced on_click, on_right_click, on_scroll etc commands for every block"
It would be very helpful to be able to add custom shell commands to every block. I'm thinking in particular of the music block. I'd love to be able to open the music player on_click, and adjust its volume with scrolling commands.

[2020-05-18 17:32] eater opened #698 "Use different font from i3bar?"
Is it possible to have one font for the i3bar's workspace buttons, and a different font (or a smaller version of the same font) for i3status-rust?

[2020-05-19 10:08] #367 closed

[2020-05-19 10:16] ammgws commented on #698
All we do is output JSON and hand it over to i3bar/swaybar. Fonts are handled on the i3/sway side.

Please do let us know you come up with a solution though.

[2020-05-19 10:16] #698 closed

[2020-05-19 10:16] ammgws commented on #696
@sashomasho Could you please confirm?

[2020-05-19 10:29] sashomasho commented on #696
Yes, we have a zombie. I've missed that, thanks for spotting it. I'll take a look what may be the cause later today.

[2020-05-19 11:31] #696 closed

[2020-05-20 14:04] ammgws commented on #503
@WhoMeNope #701 might fix this for you. Let me know if you can give it a go.

[2020-05-20 20:28] eater commented on #676
I just came here to request the same enhancement. Can it be implemented for every type of block, not just Custom? Music is the one that takes up the most space on my bar, and I'd like to be able to collapse it with a click, especially when I'm not playing music.

[2020-05-20 21:29] ammgws commented on #676
The PR for the Custom block allows i3bar/swaybar to automatically shorten the bar when the output is too long; there is no click action for the user to manually collapse the block. The same thing (`short_text`) could be implemented for other blocks, but it would be different to what you're requesting.

[2020-05-21 11:17] ammgws commented on #697
If you have the time could you please go through our current blocks list and make a table like the one below? So we can get an overview of the current situation with mapped click actions.

| block | left click | middle click | right click | scroll
| --- | --- | --- | --- | ---
| foo | in use | free | free | in use | free

[2020-05-21 15:00] eater commented on #697
Happy to help! I just searched through the docs so hopefully I got everything:

| block             | left click       | middle click  | right click  | scroll 	           |
|-----------        |------------      |-------------- |------------- |--------	           |
| Backlight         |      X           |      X        |      X       |   brightness       |
| Battery           |      X           |

[2020-05-21 15:05] ammgws commented on #697
Cheers!

[2020-05-21 21:36] matclab commented on #676
In #703 I added some examples of short_text management where blocks may provide a mean to set a short_text in addition to the default full_text, and consecutive middle click on a block switch from `Default` (display of short/long managed by i3bar) to `Short` (display only short_text) and then to `Full` (display only full_text) and the back to `Default`.

It works well, but may be a bit disturbing

[2020-05-22 15:10] ammgws commented on #325
Sorry for the late reply, but since #684 you can use `interval = "once"`.

[2020-05-22 15:10] #325 closed

[2020-05-22 15:21] ammgws commented on #292
I'm unable to reproduce this - I believe https://github.com/greshake/i3status-rust/commit/a31f44492d2423a80c230d1c555a0b493dc4248d solved this issue. Please re-open if otherwise.

[2020-05-22 15:21] #292 closed

[2020-05-23 06:36] #240 closed

[2020-05-23 10:11] gurditsbedi opened #705 "Error in block 'focused_window': failed to acquire connect to IPC"
Versions:
i3 version: 4.14.1 (2017-09-24)
OS: Ubuntu 18.04 Kernel 4.15
i3status-rs version: 0.13.0

Just used the 'install from source' instruction. The 'title' says it all.

[2020-05-23 10:22] ammgws commented on #705
Possibly the same as this comment: https://github.com/greshake/i3status-rust/pull/667#issuecomment-631238476

If I3SOCK isn't set in your environment can you try setting it before launching i3status-rust?

In the meantime I'll look into fixing this upstream.

[2020-05-23 10:41] ammgws opened #706 "speedtest block: possible improvements to speed format?"
From https://github.com/greshake/i3status-rust/pull/704#issuecomment-633022351

These are the values `speedtest-cli` outputs and i3status-rs then extracts and displays as-is:

[code]

@GladOSkar I'll see what we can do

[2020-05-23 10:59] GladOSkar commented on #706
`i3status-rs` _does_ actually parse the output values into floats, but they're already magnitude adjusted. So i suppose one could either

1. Convert the value into the raw value (in bits/bytes) and use the net formatter or
2. Just provide an option to set the amount of decimals

[2020-05-23 11:11] ammgws commented on #706
I was thinking about going with 1)

Also can change the command to use `speedtest-cli --json` which gives the results back in bits/s and also some other fields that could possibly be added as format qualifiers if someone wanted them.

[2020-05-23 11:18] GladOSkar commented on #706
Oh neat i didn't know about that. Seems very reasonable

[2020-05-23 13:22] ammgws commented on #240
@YodaEmbedding If you're still using i3status-rs, #704 should hopefully be what you wanted.

[2020-05-23 15:02] ammgws commented on #705
@gurditsbedi This has been fixed upstream, please rebuild and try again.

[2020-05-24 05:46] #706 closed

[2020-05-24 09:06] GladOSkar commented on #706
I wonder if this could be adapted to work on all numerical values, not just data rates. Because honestly i don't need to know my ping down to microseconds either...

[2020-05-24 10:45] #705 closed

[2020-05-25 08:15] notramo opened #708 "Varlink support"
Varlink is simple API that is similar in functionality to DBus (in some aspects), but doesn't require running a server, and can be used easily from any language without using additional libraries (only a JSON generator/parser is needed).
https://varlink.org/
This could be similar to the **Custom DBus** block.
https://github.com/varlink/rust
Also, it should be able to provide click/scroll events vi

[2020-05-25 08:36] ammgws commented on #708
I had a quick look.

The varlink crate only adds 4 new dependencies from what I can see, and that might be able to be lowered if they implement a feature flag to disable the Windows stuff, so it might be acceptable.

There seems to be a [CLI](https://github.com/varlink/libvarlink) tool to interface with varlink, but from your "without using additional libraries" comment above it seems there's anot

[2020-05-25 08:49] notramo commented on #708
If you don't need all the features it can be used from shell with [`jq`](https://stedolan.github.io/jq/), so you can avoid the Varlink CLI tool dependency for your script. Obviously, using the CLI tool is much simpler and shorter if your script is more advanced.
This applies to very high-level languages, e.g. [Crystal](https://crystal-lang.org/), where JSON is included in the standard library, so

[2020-05-25 09:28] ammgws commented on #708
Isn't jq for parsing json? I meant to ask how you would interact with the CustomVarlink block from a shell script, given this:

[2020-05-26 18:45] 2ico opened #709 "Toggle block not working with xrandr script"
Toggle block in ~/.config/i3/status.toml
[code]

I am used to changing displays with those two scripts, which always work if they are manually executed.
The first time I toggle off, default.sh is properly executed but, after I toggle on, the second time i toggle off turns the LVDS1 display on with unresponsive WM (except the mouse cursor) as it seems the resolution is still set to 1920x1080.
I tri

[2020-05-27 06:07] ammgws commented on #709
Can you see if it happens with another bar such as i3blocks?

[2020-05-27 10:44] 2ico commented on #709
Just tried with i3blocks [clickme]. It doesn't work as well.
With two clickme (toggle on and off) the off button doesn't do anything and outputs the same as the on button: `crtc 1:    1920x1080  60.00 +0+0 "VGA1"`
With one single button (off) i get exactly the same behavior i had with i3status-rust.

[2020-05-27 10:51] 2ico commented on #709
In both cases, there's no bug for the first toggle after starting the WM. It appears when switching monitor two or more times or after running a toggle script manually.

[2020-05-27 19:19] gurditsbedi opened #710 "Collapsing custom block if text is empty string"
i3status-rs version: 0.13.0

I have a custom block which returns json output, when I return an empty string from it i.e. `{ text: ""}` it doesn't disapper, there is this small empty block of noticeable width.
Same goes for an empty text.

The following snippet can be used for testing:
[code]

How can I make the block collapse if the text is empty?

[2020-05-28 03:26] ammgws commented on #710
Do you mean collapse as in not show at all? From memory I don't think any block has that feature, if they do collapse at all then IIRC just the icon and some text, e.g. "x" remains.

[2020-05-28 04:47] ammgws commented on #709
Yet when running the same sequence of commands manually at the terminal, it doesn't freeze up?

[2020-05-28 13:48] gurditsbedi commented on #710
Yes, make the block vanish i.e. not to show at all.
Yeah, I also inspected the source code a bit and I don't think there is a option to do so.

[2020-05-29 16:48] 2ico commented on #709
Yes, it doesn't freeze up with manual execution of the commands.
I'm on Arch Linux 5.6.14. Xrandr is at the last stable version, 1.5.1.

[2020-05-29 17:25] ammgws commented on #709
Does the xrandr block cause freezes too?

That block also causes freezes for some people: https://github.com/greshake/i3status-rust/issues/668, https://github.com/greshake/i3status-rust/issues/459#issuecomment-560396033, #274

[2020-05-29 17:27] ammgws commented on #697
@eater Do you plan to work on this?

[2020-05-29 17:57] eater commented on #697
@ammgws No, I hope the table I pulled together was helpful but I am not a coder, just a user.

[2020-05-29 18:00] 2ico commented on #709
The brightness control works fine (not considering the fact that it uses color and not hardware brightness), and clicking the block changes the display for which the brightness control acts on.

[2020-05-30 01:23] ammgws opened #713 "xrandr block: brightness control uses colour and not hardware brightness"
The brightness control works fine (not considering the fact that it uses color and not hardware brightness), and clicking the block changes the display the brightness control acts on.

_Originally posted by @2ico in https://github.com/greshake/i3status-rust/issues/709#issuecomment-636107271_

Also https://github.com/greshake/i3status-rust/issues/92

[2020-05-30 01:26] ammgws commented on #709
Argh, I was hoping it would freeze since that would probably have made tracking this down a lot easier...

What happens if you make and run a script like the below? The aim is to emulate what i3status-rs is doing by running each command in a separate process.
[code]

[2020-05-30 02:01] ammgws commented on #709
Also this rust version you can try:

[code]

[2020-05-30 08:37] ammgws commented on #92
@mirh Do you mean the `--brightness` option can change hardware brightness depending on the user's hardware? Or is there another option specifically for changing hardware brightness? I couldn't find one.

[2020-05-30 10:53] 2ico commented on #709
I'll try asap

[2020-05-30 11:01] mirh commented on #92
No, brightness is just a hacky software solution, end.
I meant the `backlight` property.
https://unix.stackexchange.com/questions/61256/how-to-change-lcd-intensivity-brightness

[2020-05-30 11:25] ammgws commented on #92
Hmm those are some weird ranges. We could add an option to the xrandr block to make it use this method, just need to parse out the ranges I guess.

[code]

[2020-05-30 12:20] mirh commented on #92
Or there should also be xbacklight I guess.

[2020-05-31 04:01] ammgws opened #715 "Future block ideas"
From [bumblebee-status](https://bumblebee-status.readthedocs.io/en/master/modules.html):
block | description | comment |
--- | --- | --- |
apt | Displays APT package update information | we habe pacman, so I guess we could have this too |
arandr | Enables handy interaction with arandr for display management |
caffeine | Enable/disable automatic screen locking |
currency | Displays currency exchang

[2020-05-31 10:47] GladOSkar commented on #713
Isn't this sufficiently covered by the `backlight` block?

[2020-05-31 10:52] ammgws commented on #713
Yes, so it seems redundant to add its functionality here. However I don't use either block so maybe some people just want to do everything from one block?

[2020-05-31 14:59] BadBrent opened #716 "Realtek RTL8811AU USB Dongle not working"
I know @valadaa48 hasn't had any problems with his EDUP RTL8811AU dongle working in RR, but I have the same dongle and my v1.1 doesn't even see the dongle nor can I access it in any form when plugged into the USB port.  802.11n is far too slow for my needs since we don't have a NTFS or FAT32 partition creation method or script yet, so I need a device that will work that is capable of at least 433m

[2020-05-31 14:59] #716 closed

[2020-06-01 11:07] gurditsbedi commented on #715
From my point of view, `apt` and `do-not-disturb` seem promising to me.
`apt` : AFAIK, `apt` and `pacman` belong to most used distros.
`do-not-disturb`: Some times focus is needed.

[2020-06-01 11:12] gurditsbedi commented on #692
I read the mentioned comment (and thread), not much able to understand, what config option are we trying to change here? Any list of proposed config options ?

[2020-06-01 11:54] ammgws commented on #692
Basically instead of having a million options like "ipv6", "ssid" etc, we just have one called "format" that can be set by the user to a string such as "{my IP: {ip}, connected to {ssid}". Check out the docs for examples of other blocks that have a format string

[2020-06-01 15:32] gurditsbedi commented on #692
Got the thing here, I think I will be able to do this task.

So the following options will stay out of the format string:
`device`
`interval`
`hide_missing`
`hide_inactive`

I don't think these will be able to become a part of the format string
so these will be out also? Any alternative idea about putting them inside?
`speed_min_unit`
`speed_digits`

Rest of all the options listed in blocks.md wil

[2020-06-01 22:29] ammgws commented on #692
Yep that's what I was going for. Regarding speed_digits/min_unit, if you can figure out a way to do it then sure otherwise I don't have any ideas at the moment.

Also we might need to keep around the old ones and list them as deprecated. There's another block that does that, forgot which one.

[2020-06-02 14:24] ammgws commented on #715
`apt` seems reasonable given it should have a large user base.

Although both `do-not-disturb` and `apt` could be implemented using the Custom block. As mentioned in the first post, I wonder if we should have a collection of custom block configs that we ship as part of i3status-rs for those trivial blocks. Saves the user time from thinking of the block and the commands, and saves us from having to

[2020-06-02 14:52] ammgws commented on #710
I don't believe that behaviour is possible with the current code-base.

[2020-06-02 14:53] ammgws commented on #668
@Ergus Have you been able to investigate further?

[2020-06-02 15:07] ammgws commented on #624
Possibly of interest: https://github.com/i3/i3/issues/3818

[2020-06-02 21:35] mox-mox commented on #624
Hmm, I got to admit, after my request to allow blocks on the left side of the bar crashed and burned, I more or less lost interest in this.
But now, I'm excited to continue on this. Nice! And thanks for the heads up!

[2020-06-02 21:43] ammgws commented on #624
What request was that again?

[2020-06-03 09:22] flying7eleven commented on #715
I would vote for a "all-in-one" solution. Personally, I hate the hassle that I have to maintain several external scripts which are "just" called by `i3status-rs`. Also setting up a new computer would require more effort than just copying a single configuration file (sure, I could also copy all files). Additionally, I agree to the point of @ammgws that someone who starts setting up the bar would ha

[2020-06-03 09:53] ammgws commented on #715
Do you have any scripts that aren't covered by anything from the list in the first post and are general enough to be useful for others? If so please list those up as well.

[2020-06-03 13:10] 2ico commented on #709
The script works just fine, after adjusting the first `sleep` to 15 seconds, since my external display takes ~5 seconds just to wake up.

[2020-06-03 13:16] 2ico commented on #709
The Rust version works as well!
I have to mention that the toggle block doesn't have any problem with the first attempt as well, it only happens after toggling 3+ times.

[2020-06-03 13:19] 2ico commented on #709
I copy pasted the commands in the Rust script to have them run multiple times in sequence and it still works as expected.

[2020-06-03 13:27] ammgws commented on #709
Is your bar set to autohide?

[2020-06-03 15:12] 2ico commented on #713
I think xrandr.rs should run something like
```xbacklight -set {}```
instead of
```xrandr --output {} --brightness {}```

[2020-06-03 15:22] 2ico commented on #709
I think not, how do you set that?

[2020-06-03 20:39] ammgws commented on #709
IIRC It's an option in the i3 bar config . When the bar is set to hide or an app is fullscreened i3 forcefully pauses i3status-rust. Was wondering if maybe that was somehow affecting the xrandr block since you said the sample rust program from above worked fine.

Try running i3status-rust with the --never-pause option

[2020-06-04 15:47] ryzokuken opened #720 "Is it a good idea to release more often"
I noticed that a substantial amount of changes have been made to the project since the last release. I wonder if it's a good idea to make releases more often, since the `i3status-rust` package on AUR lags far behind the `master` branch on `i3status-rust-git`.

[2020-06-04 22:39] WGH- commented on #66
It's quite possible to fix it efficiently. See https://github.com/soumya92/barista/issues/150 https://github.com/soumya92/barista/pull/152

[2020-06-05 00:09] 2ico commented on #709
I didn't find the --never-pause option, so I reinstalled [i3status-rust-git](https://aur.archlinux.org/packages/i3status-rust-git/) instead of [i3status-rust](https://aur.archlinux.org/packages/i3status-rust/) and it isn't showing problems anymore.

[2020-06-05 00:09] #709 closed

[2020-06-05 04:35] ammgws commented on #709
Wow if that actually fixed the issue then I think I might make --never-pause the default. Please keep us updated!

[2020-06-05 09:41] 2ico commented on #709
Hold on, it wasn't --never-pause to fix the issue. It was simply the more recent build coming with [i3status-rust-git](https://aur.archlinux.org/packages/i3status-rust-git/).
All I had to do was install that version, and it worked fine.

[2020-06-05 10:16] ammgws commented on #709
Hmm, IIRC there was a change to how we call external commands (or maybe it was just that we change the way we receive output from them) but I can't think of anything else other than that...

[2020-06-05 13:56] eater opened #722 "Battery block ignores warning_fg color"
This morning my laptop battery drained down into the Warning zone and the block's background color changed to the warning_bg color, but the foreground color was not what it should be. It looks like #aaaaff ?

![2020-06-05 09-48-39 flameshot](https://user-images.githubusercontent.com/106199/83884091-62611180-a712-11ea-96c8-e0eb6a2b5b95.png)

My settings:

[code]

[2020-06-05 14:17] ammgws commented on #722
Can you run i3status-rust from a terminal and check the output there? Assuming it's still like that.

[2020-06-05 16:09] eater commented on #722
The battery is charged now but I see the same color issue when the audio block is muted. So here's the output as I unmute and then mute it.

First it complained "failed to open file: /home/eater/.config/i3status-rust/config.toml.\nCause: No such file or directory" until I made a symlink for it. Then:

[code]

[2020-06-05 16:16] ammgws opened #724 "Add ability to customise number formatting when using `format` strings"
_Originally posted by @GladOSkar in https://github.com/greshake/i3status-rust/pull/714#issuecomment-639379159_

[2020-06-05 16:25] ammgws opened #725 "Replace uses of sed/etc with Rust native regex"
There's a bunch of places in the code-base such as [this](https://github.com/greshake/i3status-rust/blob/22d53b44219a3bbed3cbf00d395143ec3a92ab0b/src/blocks/net.rs#L81) where we shell out to an external program, which is OK, however we are using sed/awk/etc to parse the output when we could possibly use Rust code instead. We already depend on `regex` so it's not an issue to convert these over, and

[2020-06-05 16:27] ammgws commented on #720
See https://github.com/greshake/i3status-rust/issues/652

I guess if it still doesn't happen then I will look into it.

[2020-06-05 16:27] #720 closed

[2020-06-05 21:30] GladOSkar commented on #724
I would like to work on this but really don't have the time currently, so if somebody else wants to i don't mind

[2020-06-05 21:59] ryzokuken opened #726 "Document top-level options"
I just realized that there's a top level option called "scrolling" which is pretty nifty if you're on a laptop device. I believe it makes sense to document all top-level options somewhere, probably in the wiki or README.

[2020-06-05 22:12] GladOSkar opened #727 "Main wiki page faulty link"
Hey i just noticed that the text

in the main wiki page should probably link to `themes.md` and *not* `blocks.md`

[2020-06-05 22:18] ammgws commented on #727
Edits welcome

[2020-06-05 22:38] GladOSkar commented on #727
Oh I only just realized gh wikis are repos as well? I had no idea, I thought they could only be edited by the owner. Will send a PR tomorrow (cest)

[2020-06-06 02:04] idiot-toaster opened #728 "pacman block - critical_updates_regex does not function"
The `critical_updates_regex` does not work at all, despite my numerous tests and attempts.

#### Example:
`critical_updates_regex = "gnupg.*"` should mark the block critical accordingly. `grep` included below for reference.
![image](https://user-images.githubusercontent.com/58581962/83933614-daa9f000-a76f-11ea-932a-2452c4086ad1.png)

I've tried different methods of regex, but none of them have wor

[2020-06-06 06:12] ammgws commented on #728
@PicoJr Whenever you have some time

[2020-06-06 07:49] PicoJr commented on #728
Hello, internally we use `is_match`:

https://github.com/greshake/i3status-rust/blob/795e7f1235d6a5491e618e7af6a2cfa575d3f6de/src/blocks/pacman.rs#L288-L290

the regex `gnupg.*` looks fine, it matches `gnupg 2.2.20-2 -> 2.2.20-4` cf [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ccce3757fe70aa3c8adc934836bf39e)

I used the following `status.toml`:

[code]

my

[2020-06-06 07:57] PicoJr commented on #728
@idiot-toaster

- could you share your `status.toml`?
- which i3status-rust are you using?

[2020-06-06 11:24] GladOSkar commented on #727
Apparently PRs to Wikis aren't a thing but here's a patch:

[code]

[2020-06-06 15:00] ammgws commented on #727
Thanks!

[2020-06-06 15:00] #727 closed

[2020-06-06 15:46] idiot-toaster commented on #728
I'm using `i3status-rust-git` off AUR, which was 0.13.0 when I checked.

Here is the `pacman` block from my `status.toml`.
[code]

[2020-06-06 16:07] ammgws commented on #720
I just started writing the release notes

[2020-06-06 16:25] ryzokuken commented on #720
@ammgws perfect! Thanks a ton.

[2020-06-06 17:23] PicoJr commented on #728
Hello,

As of 06/06/2020:

the [AUR package](https://aur.archlinux.org/packages/i3status-rust-git/) name is `i3status-rust-git 0.13.0.r940.ga42de8b-2`

this package name is built using:

[code]

the corresponding commit is a42de8b-2

@idiot-toaster could you confirm the package name of the i3status-rust-git AUR? do you use the latest one available? it would help pinpoint the exact git revision you

[2020-06-06 17:37] idiot-toaster commented on #728
Upon checking with `yay` it seems that I do have an earlier revision of the package;
`i3status-rust-git 0.13.0.r1183.g795e7f1-1`
But it does confuse me why `yay` did not inform me about updates. Perhaps this might be an issue with `yay` itself.

This does answer some questions though, thank you!

[2020-06-06 18:09] gurditsbedi commented on #692
Hi, I was working on the issue. So, I am having difficulty to figure out that how should I manage both the legacy option formatting and new format option based formatting.

Should I opt for a "rule based" checking of the options in the config provided by the user? and accordingly modify the format string or is their a better way to do it.

[2020-06-06 19:50] gurditsbedi commented on #692
I think I have found a way out. I would request to look at [my commits](https://github.com/gurditsbedi/i3status-rust/commits/dev-net-block-fmt-one). This is a rough work. Let me know if there is a better way out.

If everything is fine. I am thinking of doing the following.
1. I will be convert the all the variable `Widgets` in the Net Struct into `string` and display the whole output as a `Button

[2020-06-06 21:54] ammgws commented on #728
I moved to pikaur from yay a long while ago and haven't looked back.

Can you try the block without the AUR stuff?

[2020-06-07 07:10] ammgws commented on #720
Done

[2020-06-07 10:47] andersfylling opened #731 "theme override fails"
Hi, after reading themes.md I added the following to my config file:

[theme]
name = "slick"
[theme.overrides]
good_bg = "#82b3db"

The goal was to adjust the colour of the spotify block. I'm more experimenting right now as it isn't imminently obvious to me how this is done.

However, this causes a failure that complains about multiple theme fields. "duplicate field `theme` at line ...".

Is there

[2020-06-07 10:57] ammgws commented on #731
What version are you using?

I just tried the config below with git master and didn't get any errors

[code]

[2020-06-07 11:06] andersfylling commented on #731
version: v0.13.0
installed via AUR, pkg: i3status-rust-gitversion: v0.13.0

[2020-06-07 11:18] andersfylling commented on #731
I now remove the AUR dep and built it manually. I still have the same issue.

i3 config:
[code]

status.toml
[code]

[2020-06-07 11:21] andersfylling commented on #731
Update: I had an "aha" moment and fixed it. But I wasn't aware it was just a different way to include the theme. I thought the block introduced here was just specify which theme was overwritten, not included. So I assumed I could do several overrides for different themes in the same place.

[2020-06-07 11:21] #731 closed

[2020-06-07 19:51] gurditsbedi commented on #692
I also experimented in the following way.
[code]

But this creates another type of errors (Trait stuff) which I am not currently good at.
[code]

This way of doing, seems good to me if the errors can be mitigated.

What do you say?

[2020-06-07 21:12] sersorrel opened #733 "kdeconnect block breaks if no device is connected on startup"
d193388cc purportedly fixed this, but if you don't have a device ID specified in the config file you'll still see an error on startup if there aren't any devices connected.

Applying this change fixes the problem, though I don't know if it's the _correct_ solution (hence this being an issue rather than a PR):

[code]

[2020-06-07 22:23] ammgws commented on #733
Yeah that commit made the assumption that the device id was configured beforehand. Your suggestion makes sense since it's essentially the same thing. Send a PR?

[2020-06-08 14:10] #733 closed

[2020-06-08 14:18] ammgws commented on #731
Were the docs misleading?

[2020-06-08 14:40] notramo opened #736 "Configurable text for CPU, battery, brightness"
Currently, the CPU block prepends `CPU` to the text, the battery block prepends `FULL`, the brightness `BRIGHT`, etc.
This should be configurable with format strings

[2020-06-08 14:45] ammgws commented on #736
Are you using the "none" theme? For the time being you can at least override the text by overriding the icons in your config file.

[2020-06-08 14:52] andersfylling commented on #731
Perhaps ambiguous, be aware I've never really used toml before.

[2020-06-08 14:53] notramo commented on #736
Yes, I am using `none`, and it works with override.

[2020-06-08 14:56] ammgws commented on #731
I added a note to the docs

[2020-06-09 00:07] atheriel commented on #715
I think a collection of simple/common uses of the Custom block (shell one-liners, basically) would be a great addition to the documentation. We could potentially re-jig `blocks.md` so that the Custom block gets its own section at the end with a large number of examples.

[2020-06-09 00:11] atheriel commented on #720
@ammgws I tried to get into the habit of releasing about once every 3 months, time permitting, although the project is a bit more active now. A known, regular release schedule takes some pressure off requests like this and gives everyone clarity on how long they'll need to wait for downstream packages to update.

Congratulations on the release!

[2020-06-09 09:08] mox-mox commented on #624
Small update: I'm not yet finished, but it is going forward when I find some time and by now it is mostly working.
Can't wait till i3/i3#3818 is implemented :)

[2020-06-09 09:25] ammgws commented on #624
The other day I noticed waybar has a workspaces block, it might be of reference.

[2020-06-09 10:26] mox-mox commented on #624
Yes, that might help to get the ordering right when some workspaces have a number and some don't. The rest works.

[2020-06-09 15:11] qezz commented on #416
I have the same issue on Ubuntu 18.04. I've been using `kbdd` for a while, it worked fine. But as I understand `kbdd` is limited to per-window keyboard layout management, which IMO is not very convenient to use.

Is there a way to use global keyboard layout? I didn't find anything related in kbdd repo.

[2020-06-10 03:56] LeelaPakanati opened #737 "Icon Override overrides all"
When I to use icon.overrides, it removes all of the icons I don't override.
config:
#icons]
icons = "awesome5"
[icons.overrides]
cpu = "  "
gpu = "  "
memory_mem = "  "
net_wired = ""
net_down = "  "

[2020-06-11 00:36] Joe23232 opened #739 "Is this taskbar configured in Rust?"
Hi is this taskbar configured in Rust?

[2020-06-11 01:40] ammgws commented on #739
The config file is in TOML

[2020-06-11 02:56] Joe23232 commented on #739
Ah I see, is it really customisable as awesomeWM?

On Thu, Jun 11, 2020 at 11:40 AM Jason <notifications@github.com> wrote:

[2020-06-11 03:51] ammgws commented on #739
Isn't that a window compositor? You might have the wrong repo. This project generates JSON for use with i3bar/swaybar.

[2020-06-11 05:04] Joe23232 commented on #739
Oh sorry my mistake.

On Thu, Jun 11, 2020 at 1:51 PM Jason <notifications@github.com> wrote:

[2020-06-11 10:18] #739 closed

[2020-06-12 10:50] ammgws commented on #737
What do you mean by removes? Nothing shows up in the bar where the icon should be?

Does it happen with other icon sets apart from awesome5?

[2020-06-12 10:51] ammgws commented on #736
OK, so this is solved?

[2020-06-12 13:17] notramo commented on #736
Yes, but mentioning it in the docs would be useful for others.

[2020-06-12 13:59] ammgws commented on #736
https://github.com/greshake/i3status-rust/blob/master/themes.md

[2020-06-13 03:19] LeelaPakanati commented on #737
Basically only the icons that I specifically override show up. All other ones simply don't show. I tried with awesome4/5 but I don't have material setup to try.

[2020-06-13 03:47] mtellezj commented on #374
I have the same issue. `bluetoothctl list` show:
`Controller 34:13:E8:44:63:C0 aldebaran [default]`

and `hciconfig`show:
[code]

but I'm still getting "Error in block 'bluetooth': failed find a device with matching MAC address". My block config is:
[code]
I get the same error with or without handsfree connected.

[2020-06-13 23:17] ammgws commented on #374
The block checks for the device in org.bluez.Device1. Can you check what is actually there using `d-feet` or `busctl`?

[2020-06-14 17:08] notramo commented on #736
Where does it mention that these texts are actually icons (if I choose `none` icon set, I expect no icons, so I guessed these are labels or something).

[2020-06-15 01:25] ammgws commented on #736
Perhaps the name is a bit misleading, but we can't change that now. Can add a note to the docs though. PRs welcome.

[2020-06-15 21:47] louislefevre commented on #668
I use Arch not Debian, but if its any help I've been having this problem as well and running the second command causes lag every time. I've got around the problem for now by just setting the interval to something really high (e.g. 6000), since the managing the brightness still works and the lag only occurs momentarily every 100 minutes.

[2020-06-16 07:38] adrianisuru opened #744 "Text wont display when using material icons"
[code]
[code]

I have downloaded and installed the Material font. I have specified `icons = "material"` in my config.

My sway bar is configured like so
[code]
The problem is my statusbar is *only* showing the material icons—No text!
If I use a font other than `Material Icons` the text displays properly but the icons don't (I get a stormy weather icon for my cpu for example).
How can I get it to d

[2020-06-16 08:28] wucke13 opened #745 "Battery indicicator claims very bold times"
Once my battery is almost charged up, a quite huge number appears:

![2020-06-16_10:23:37](https://user-images.githubusercontent.com/20400405/84750601-c493ff00-afbb-11ea-8190-4f0ea943b7b5.png)

I'm not sure this is correct. I guess it seems to be the integer part of (2^(64)-1)/60. So probably something overflows/get's stuck in u64 max.

This is on `i3status-rs 0.14.0`

[2020-06-16 09:48] ammgws commented on #744
Try removing the quotes around the fonts in the sway config

[2020-06-16 09:50] ammgws commented on #745
@Thra11 seems related to your PR?

[2020-06-16 10:33] Thra11 commented on #745
Can you try to determine which method it's using to determine the time to full? Which of the following exist in `/sys/class/power_supply/<your battery identifier>`?
time_to_empty
time_to_full
energy_full
charge_full
energy_now
charge_now
power_now
current_now

[2020-06-16 10:35] Thra11 commented on #745
It is possible that the charging current backs off as it approaches 100%. Can you confirm that, if left for a while, it does eventually charge up to 100%?

[2020-06-16 11:32] wucke13 commented on #745
+ /sys/class/power_supply/BAT0:
   + alarm
   + capacity
   + capacity_level
   + charge_start_threshold
   + charge_stop_threshold
   + cycle_count
   + device -> ../../../PNP0C0A:00
   + energy_full
   + energy_full_design
   + energy_now
   + hwmon1
   + manufacturer
   + model_name
   + power
   + power_now
   + present
   + serial_number
   + status
   + subsystem -> ../../../../../../../../.

[2020-06-16 21:09] adrianisuru commented on #744
Still the same

[2020-06-17 17:03] colemickens opened #746 "Tests expect the release + debug binary which isn't realistic for packagers"
https://github.com/greshake/i3status-rust/blob/a72342bb0f061f1c752fd73e587d0175c0e49087/tests/run_binary.rs

This test is a bit odd (in that it expects both debug and release binaries to exist) and is making it hard for me to release i3status-rust at the moment.

Can you add guards so that the respective tests only runs when in that debug/release mode?

[2020-06-17 18:59] Thra11 commented on #745
So based on what properties are present, it should be taking
[code]
then doing `((full - fill) / usage) * 60.0` (±some unwrapping and casting). Are you able to get it into the bug state and read out the values of `energy_full`, `energy_now` and `power_now`?

[2020-06-17 20:27] Thra11 opened #749 "load block fails to get cpu count"
[code]
My system supports /proc/cpuinfo, but it doesn't have any lines starting with siblings. The format may have changed (I'm now on linux kernel 5.7.0).

Reading `/sys/devices/system/cpu/present` might be a better alternative. On my system, its value is `0-5`, I believe representing the fact that the six CPUs numbered 0 to 5 are all present. The fact it doesn't just say `6` might make it a litt

[2020-06-17 21:24] #746 closed

[2020-06-18 08:16] bluec0re commented on #315
Bump @ammgws (who created the latest releases)

[2020-06-19 04:54] ammgws commented on #744
Try `font pango:DejaVu Sans Mono, Material Icons 10`

[2020-06-19 07:21] bluec0re commented on #315
Added some install instructions with cargo in #751

[2020-06-19 10:05] jigmpatel opened #752 "Build fails without pulseaudio"
I am trying to build with --no-default-features as I don't use pulseaudio. However the build fails because unresolved import of libpulse_binding.

Please find below the output on the error:

error[E0432]: unresolved import `libpulse_binding`
 --> src/main.rs:3:5
  |
3 | use libpulse_binding as pulse;
  |     ^^^^^^^^^^^^^^^^^^^^^^^^^ no `libpulse_binding` external crate

warning: unused import: `l

[2020-06-20 04:15] ammgws commented on #752
Looks like it was accidentally removed in 1be527ca65c08c07adb4094fabda0bf02402f1e7

Can you check with #753?

[2020-06-21 13:46] jigmpatel commented on #752
Thanlks. I am able to build with #[cfg(feature = "pulseaudio")].

[2020-06-21 22:57] JoshMcguigan commented on #411
@ammgws Do you think it is appropriate to solve this by spawning a thread per block, and allowing each block to update the main thread by sending new data back over a channel or something? I haven't looked at the source code yet, so I'm not sure if this approach would be totally impractical for some reason, just wanted to get some insight if you had already been thinking about solutions for this.

[2020-06-22 11:58] jigmpatel commented on #752
The build fails with the latest pull I tried with the following error (initially I managed to build without pulling from the origin and manually adding #[[cfg(default)] for pulse lib import).

error[E0412]: cannot find type `SourceInfo` in this scope
   --> src/blocks/sound.rs:229:15
    |
229 | impl TryFrom<&SourceInfo<'_>> for PulseAudioVolInfo {
    |     -         ^^^^^^^^^^ not found in this

[2020-06-22 12:47] ammgws commented on #752
OK I can reproduce. No idea why it didn't come up when testing that PR

[2020-06-22 13:19] ammgws commented on #752
Problem was some recently added code that wasn't guarded behind the pulseaudio feature flag.

#755 fixes it for good this time

[2020-06-22 14:17] Joe23232 opened #756 "Feature Request: Support configuration through Rust"
Like DWM is configured in C directly, and how Xmonad is configured in Haskel, I wanted to suggest to have a way to configure i3status-rust using Rust but in a higher level sort of fashion?

[2020-06-22 14:22] ammgws commented on #756
Wouldn't it just end up with you having to fork it so that you could "configure" (aka hardcode all the config options in code) it yourself? You can do that now if you want.

[2020-06-22 14:25] Joe23232 commented on #756
But then I would be configuring it in a low level sort of manner. With XMonad and DWM, you are directly dealing with the code but you use a much higher level though in a separate file.

[2020-06-23 06:06] ammgws commented on #756
I've never really understood the appeal of the whole suckless philosophy and I don't see what overall benefits it would bring to the project. Perhaps @atheriel can chime in too.

[2020-06-23 07:23] Joe23232 commented on #756
It supposed to give you full power and control and you can avoid using a
scripting language like Lua which can cause some overhead.

On Tue, Jun 23, 2020 at 4:06 PM Jason <notifications@github.com> wrote:

[2020-06-23 11:20] #752 closed

[2020-06-23 12:52] ammgws commented on #737
Can you run i3status-rs in a terminal and check the output there? (Pasting it here would be helpful too)

[2020-06-23 22:00] GladOSkar commented on #756
My 2 cents as to why i think this is not a good idea:

- `i3status-rust`'s config parsing overhead is not very large, and it isn't reloaded very often. A "scripting language like Lua" is not present. The benefits therefore aren't very great.
- `rust` is known to be slow to compile. In-source configuration only really makes sense for fast-compiling languages (like C and Haskell).
- It would mean a

[2020-06-24 02:36] atheriel commented on #756
Whether or not this is a good idea, it's dead in the water without a proposed design to actually discuss. @Joe23232, can you give a mock code example of what you are imaging this configuration would look like? One could of course do this today by modifying [block construction in `main.rs`](https://github.com/greshake/i3status-rust/blob/master/src/main.rs#L187-L203) to build the bar of choice inste

[2020-06-24 02:48] atheriel commented on #749
A robust solution would be to find out how `lscpu` actually works and treat that as gospel. The source is here: https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git/tree/ but I haven't been able to find it with a quick look around.

[2020-06-24 02:53] atheriel commented on #745
A quick fix for this (which has shown up in the past) would be to check of whether the differences are smaller than some tiny value before attempting any division.

[2020-06-24 09:14] Thra11 commented on #749
I believe the journey starts [here](https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git/tree/sys-utils/lscpu.c#n636), with relevant bits [here](https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git/tree/include/cpuset.h#n56) and [here](https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git/tree/lib/cpuset.c#n115) and [here](https://git.kernel.org/pub/scm/utils/util-linu

[2020-06-24 09:31] jigmpatel commented on #752
Thanks. I am able to build it now.

[2020-06-29 14:25] ammgws commented on #744
@adrianisuru Any luck?

[2020-07-01 07:21] ryzokuken opened #761 "Music block doesn't work"
Sorry for the bad issue title, I couldn't come up with something better, but if you all could help me debug this, it would be great. I am running the current master and it seems like the music block doesn't show the currently playing track. It doesn't detect anything at all.

I tried to check if something else is broken, but `mpris-ctl info` works as expected, so maybe a recent commit to the block

[2020-07-01 23:26] colemickens opened #762 "block idea: show output configuration"
Hi I have a custom block that shows this:

`| DP-1(1.0) HEADLESS-1(1.0) | `

to show the active outputs and their current scale factor.

It might be nice to have something like this built in.

[2020-07-02 04:41] ammgws commented on #761
Only this comes to mind:
https://github.com/greshake/i3status-rust/pull/561

[2020-07-02 04:55] ryzokuken commented on #761
@ammgws I tried `dbus-monitor` (on my also arch+mpris2 setup) and it shows show up updates as expected. I wonder why the patch makes things not work for me?

[2020-07-02 11:50] ammgws commented on #761
Is your output different to the example in this comment: https://github.com/greshake/i3status-rust/pull/561#issuecomment-584226953 ?

[2020-07-02 12:56] ryzokuken commented on #761
@ammgws actually, yes. My `dbus-monitor` output is littered with empty `method` calls like this:

[code]

one of them pops up every second or so. To check the actual result, I need to check the `dbus-monitor "type='signal'" output, which is more like:

[code]

[2020-07-02 14:01] ryzokuken commented on #761
Ugh, nvm. It disappeared after a restart.

[2020-07-02 14:01] #761 closed

[2020-07-02 14:03] ammgws commented on #761
Interesting... Also I see that we subscribe to the PropertiesChanged signal but we make a separate get() call to get the Metadata even though the info is in the signal in the first place. I might look into that later.

[2020-07-02 16:16] ryzokuken commented on #761
Thanks!

[2020-07-03 18:49] Alexeyan opened #763 "Specify background for tray icons"
Hi. I would like to request the feature to specify the background color for tray icons.
The current way just uses the same color as with the empty space between the workspaces and the blocks.
Since I use a white theme during the day and for example my network manager applet icon is white, i would like to give it a dark background manually.

As far as I can tell none of the theme overrides change t

[2020-07-04 05:17] ammgws commented on #763
Do you mean the network manager block icon? We don't control the tray. That would be i3/sway if anything

[2020-07-04 08:09] maximeplante opened #764 "i3status-rust AUR link leads ot 404"
https://aur.archlinux.org/packages/i3status-rust/ leads to a 404.
https://aur.archlinux.org/packages/i3status-rust-git/ is fine, however.

[2020-07-04 09:11] ammgws commented on #764
I guess whoever was maintaining it deleted it?

[2020-07-04 19:07] maximeplante commented on #764
I thought you were the maintainers of that package. Please ignore then.

[2020-07-04 19:07] #764 closed

[2020-07-06 15:10] wucke13 commented on #745
Funnily I wasn't able to reproduce this in the meantime. I don't know why. I will report back when I get the info, @Thra11 . Shall I close the issue, or let it open?

[2020-07-07 12:17] #763 closed

[2020-07-07 12:18] ammgws commented on #745
Please leave it open

[2020-07-07 12:25] #736 closed

[2020-07-07 12:33] ammgws commented on #764
It was adopted into the official Arch community repo hence being removed from the AUR: https://git.archlinux.org/svntogit/community.git/commit/trunk?h=packages/i3status-rust&id=64a77db3d268622e35d2ce68f1c0b8e0b175c496

I'll update our README

[2020-07-07 12:41] ammgws commented on #728
@DrBluefall Do you experience this as well?

[2020-07-07 12:42] #692 closed

[2020-07-07 12:55] ammgws commented on #708
Closing due to lack of response. Please re-open otherwise.

[2020-07-07 12:55] #708 closed

[2020-07-07 12:58] ammgws commented on #557
TODO:
- [ ] KeyboardLayout block
- [ ] NetworkManager block
- [ ] Bluetooth block
- [ ] Music block
- [ ] Battery block
- [ ] Backlight block
- [ ] IBus block
- [x] CustomDBus block
- [x] KDEConnect block

[2020-07-07 13:00] ammgws commented on #469
Closing as re-implementing `sensors -u` does not look trivial. Please re-open if there is a good way to achieve this.

[2020-07-07 13:00] #469 closed

[2020-07-07 13:07] ammgws commented on #549
I see it would also solve issues such as [this](https://github.com/greshake/i3status-rust/issues/749), though it relies on a separate optional crate for that.

Anyway it would be easier to consider this if there was actual code (PR) to look at, so someone please give it a go .

[2020-07-07 13:13] ammgws commented on #467
Closing due to lack of response and not being able to reproduce it here. Please re-open if you have further info.

[2020-07-07 13:15] ammgws commented on #411
Probably most relevant: https://github.com/greshake/i3status-rust/issues/430

[2020-07-07 13:22] GladOSkar commented on #467
I just checked and the block does actually send the wrong color information before it's loaded:

Before loading:
[code]

After loading:
[code]

So this probably is actually an issue that is solveable in code

[2020-07-07 13:28] ammgws commented on #277
Resolved by #740

[2020-07-07 13:29] #277 closed

[2020-07-07 13:31] ammgws commented on #274
I'll add a note to the block documentation as well. If anyone finds out the cause of this issue then please re-open.

[2020-07-07 13:31] #274 closed

[2020-07-07 13:38] ammgws commented on #726
Hmm there doesn't seem to be a good place to add this. Perhaps we need to add a Configuration section to the README which explains the basic config format including top-level options then links out to the blocks.md and themes.md for the other.

[2020-07-07 13:43] ammgws commented on #467
Is it just the net block that has that behaviour?

[2020-07-07 13:51] GladOSkar commented on #467
It's the only one i ever see it on, yes. All other blocks have their colors set correctly immediately.

Also, it's worth noting that this only happens for the signal strength widget, not the entire block.

Unfortunately i'm not well-versed enough in rust to debug this. It also doesn't bother me that much since it's only ever there for a couple of seconds.

[2020-07-07 13:56] ammgws commented on #467
Does it happen when using the recently introduced `format` string for the net block?

[2020-07-07 13:56] GladOSkar commented on #467
I'll have a look

[2020-07-07 13:58] ammgws commented on #467
IIRC it will still use widgets if the deprecated options are used, so make sure only the format option is specified in your config when you try.

[2020-07-07 14:04] GladOSkar commented on #467
First of all unrelatedly, after updating my current config doesn't work anymore. Even though i have set

[code]

The blocks show their speeds:
![image](https://user-images.githubusercontent.com/9497832/86793146-78445800-c06b-11ea-9dc9-1b02dbf876c0.png)

This is probably unintended and should be fixed?

[2020-07-07 14:07] GladOSkar commented on #467
Alright, with the format string it not shows this before initialization, which is way better:

![image](https://user-images.githubusercontent.com/9497832/86793570-e38e2a00-c06b-11ea-83b7-bf2933f15b00.png)

[2020-07-07 14:09] ammgws commented on #467
Resolved via #738

[2020-07-07 14:09] #467 closed

[2020-07-07 14:09] ammgws opened #766 "net block shows speeds regardless of config"

[2020-07-07 14:12] ammgws commented on #766
Hmm I can't seem to reproduce with just:
[code]

[2020-07-07 14:16] GladOSkar commented on #766
I just had a look again. When i change `format` back to:

[code]
It shows the speed again:

![Peek 2020-07-07 16-16](https://user-images.githubusercontent.com/9497832/86794866-446a3200-c06d-11ea-97ab-2388ce1f099b.gif)

[2020-07-07 14:17] GladOSkar commented on #766
When i unset `device` as well. I built from the `master` i _just_ pulled.

[2020-07-07 14:22] ammgws commented on #766
Actually my bad, I was testing on another branch. Able to repro now.

@gurditsbedi  Are you able to have a look?

[2020-07-08 05:52] gabm commented on #766
I have the same... running on Arch: 0.14.1.r1225.gc9d5f3e-1,that means I'm on this commit and the problem exists: https://github.com/greshake/i3status-rust/commit/c9d5f3e710ac5ade11956012672591ffc33e9f71

[2020-07-08 12:36] gurditsbedi commented on #766
Confirming the issue. Will send a fix soon.

[2020-07-09 04:45] ammgws opened #768 "net block calls bitrate/SSID update function regardless of config"
Noticed this bug when trying to test https://github.com/greshake/i3status-rust/pull/758.

This is probably the culprit:
https://github.com/greshake/i3status-rust/blob/0d39c9b876dee2d0e599cd18fa5e1d6cb47f5e1a/src/blocks/net.rs#L861-L870

The functions are called regardless of whether `bitrate` etc have been specified in the `format` string. This can cause the block to fail since you need certain co

[2020-07-09 04:50] maximeplante commented on #764
Thanks for the update!

[2020-07-09 04:51] ammgws commented on #766
Closing via #767

Tested fine for me, please re-open if anyone still has issues.

[2020-07-09 04:51] #766 closed

[2020-07-09 05:52] gurditsbedi commented on #768
So from what I have understood. I need to stop calling `self.update_bitrate()` if `bitrate` is not present in a format string?
Should I do same for
`self.update_ssid()?; `, ` self.update_signal_strength()?; `, `self.update_ip_addr()?; ` ?

[2020-07-09 06:06] ammgws commented on #768
Yes that should do it.

[2020-07-09 06:08] gurditsbedi commented on #768
Considering the definition of the mentioned functions.
AFAIU, Each function first check whether the value is `Some`.
If and only if the value is `Some`, then it goes to execute the shell command to retrieve the value.

[2020-07-09 08:24] ammgws commented on #768
On mobile now, but I think before it checked whether the Widget was Some or not, but now it's a string so it's always Some.

[2020-07-09 09:31] gurditsbedi commented on #768
I missed that point. Will proceed with the above mentioned changes and send
the fix soon.

On Thu, Jul 9, 2020, 1:54 PM Jason <notifications@github.com> wrote:

[2020-07-09 10:25] GladOSkar commented on #766
Works. Thanks!

[2020-07-09 14:33] rn42v1r opened #769 "How to output json with a script for a custom block"
in the wiki I found the option to create your own [custom blocks](https://github.com/greshake/i3status-rust/blob/master/blocks.md#custom) and also control the state and icons with JSON like this
[code]
Now if I want to output the json with a script e.g.
[code]
and the toml respectively
[code]
will result in
` Error in block 'custom': Error parsing JSON: EOF while parsing a value at line 1 column 0

[2020-07-10 00:11] ammgws commented on #769
Try printf

[2020-07-10 11:12] ammgws commented on #769
I don't use bash but the below works for me:

[code]

[code]

[code]

[2020-07-10 11:41] #769 closed

[2020-07-10 12:32] ammgws commented on #769
Did you figure it out?

[2020-07-10 12:35] ammgws commented on #769
Ah I see. I'll see if I can improve the error message so that it's more obvious why it's failing.

[2020-07-10 12:36] rn42v1r commented on #769
Why can't I use relative paths btw? The script im calling in the example is located in the same directory.

[2020-07-10 13:06] ammgws commented on #769
Probably because the shell invoked by i3status-rust has a different working directory to wherever it is that you have stored your script.

[2020-07-12 13:00] gurditsbedi commented on #768
I wanted to do this similar to the way it was previous, by specifying `Some`/`None`  in `new` method of `impl ConfigBlock for Net` for each option.
Is there a way to check whether a option is present in format string? AFAIU, there is no method to check for.

Though I can do `format.contains("{bitrate}")` to check the options existence but, it will break soon after completion of https://github.com/

[2020-07-13 14:49] #725 closed

[2020-07-13 15:07] ammgws commented on #768
I just added a quick fix for now.

[2020-07-13 15:11] #768 closed

[2020-07-13 17:27] 7596ff opened #773 "Disable Powerline"
I like the bar and the simple config but I do not like the powerline arrows, I would prefer them as blocks. Could there be an option to disable this?

[2020-07-13 17:28] 7596ff opened #774 "Align blocks to the left, or center"
I would like to have the current window block on the left side of the bar. Could this be a configuration option for all blocks?

[2020-07-13 22:34] GladOSkar commented on #774
Unfortunately this is not possible within the [`i3bar` protocol](https://i3wm.org/docs/i3bar-protocol.html).

See #239

[2020-07-13 22:40] GladOSkar commented on #773
Did you try
[code]
? Or do you mean something else?

[2020-07-14 04:07] #774 closed

[2020-07-14 04:07] 7596ff commented on #773
Thanks!

[2020-07-14 04:07] #773 closed

[2020-07-17 11:55] Crandel opened #777 "i3status-rust panicked in sway while keepassxc closed"
I use sway version 1.4 and i3status-rust from latest master. After I close [keepassxc](https://keepassxc.org/) my bar completely gone and I need to reload sway.
My status.toml is [here](https://github.com/Crandel/home/blob/master/.config/sway/status.toml)

I'm starting i3status-rs like this
[code]

error message
[code]

[2020-07-18 00:31] ammgws commented on #777
Are you sure you're not just seeing that because of sway crashing first and closing the pipe i3status-rust was writing to?

[2020-07-18 06:17] Crandel commented on #777
@ammgws I don't know exactly,  but everything else works fine, except bar, it just gone

[2020-07-18 17:20] Xaymup opened #779 "No theme property for Loopback on net block"
A strange Unicode character appears as the icon for the net block, if set to use the loopback device.

[2020-07-20 01:32] benjaminBrownlee opened #780 "max_width behaving like min_width on music block"
Like what was described in #223 a couple years back, the width of the music block appears to not be not be behaving correctly. The extra space here should be collapsing (or at least that is the intuitive desired behavior to me).

![image](https://user-images.githubusercontent.com/29786277/87890862-0a921780-c9ed-11ea-894d-5aa3559cbb1e.png)

[code]

[2020-07-20 13:34] #777 closed

[2020-07-20 23:25] nvllsvm commented on #182
fwiw - passing a value of `null` a given color is valid results in the desired "native" behavior.

[2020-07-28 07:23] martinbrylski opened #782 "No ssid in net block shown"
Hi,
I'm using this config for my net block.
[code]
iw and ip are installed, I'm using latest Manjaro with uptodate packages and this aur: i3status-rust-git (0.14.1.r1254.g4127fdb-1)
The device name matches the one in `ip addr`.

The icon is shown, but no ssid or signal, bitrate or anything else. It worked before the introduction of the format config.

Any suggestions whats wrong here?

[2020-07-28 08:16] themadprofessor commented on #779
Do you have the correct font installed for your icons?
For example, you need font-awesome installed if you have the following in your config:
[code]

[2020-07-28 09:46] Nimelrian opened #783 "Feature Request: Allow users to configure a volume cap on the sound block"
The sound block can change the volume when the user scrolls with the cursor hovering the block.

It is possible to scroll over 100% which leads to distorted audio and potentially blown eardrums when someone is unfortunate enough to use a free scrolling mouse and have their cursor stumble over the sound block.

A new configuration option to potentially cap the volume at a user defined value would a

[2020-07-28 15:42] DCsunset opened #784 "Feature: allow users to customize text when battery is full in the battery block"
Currently, if the battery is full, it will set the text to an empty string and cannot be changed. It might be confusing for some users when they are using the icons.

I think it would be great if we could add an optional field like `full_format` to the battery block's config to allow users to customize the text when the battery is full. For example, users can use this to show the percentage or som

[2020-07-29 12:26] Savanta commented on #780
I can confirm this, builded from git via AUR on Arch [https://0x0.st/ixak.png](url)

[2020-07-29 15:38] amitlevy21 opened #786 "Focused window block stuck on Alacritty"
Hey,

The block focused window keeps showing the same window name regardless which window is focused:
![image](https://user-images.githubusercontent.com/28672915/88819459-afb8a700-d1c8-11ea-81e0-aaeffefa6bff.png)

Here is the config I'm using:
[code]

It reproduces with a minimal config:
[code]

The issue happens only with Alacritty terminal and only when the following setting is set in alacritty.

[2020-07-29 15:44] amitlevy21 commented on #786
The problem is temporary fix if I restart i3, but comes back if I open Alacritty and run a command

[2020-07-31 14:52] ammgws commented on #73
FYI Chrono now supports localisation (https://github.com/chronotope/chrono/pull/453)

We still have to get LC_TIME ourselves though. Or add another option to the time block to specify the locale.

[2020-07-31 18:51] cecton commented on #73
https://crates.io/crates/locale_config maybe this could be useful?

[2020-08-04 00:53] LamaRaz commented on #246
I seem to have a different problem where there is a single pixel gap between where the rectangle ends and the triangle begins. Using Nerd fonts which have powerline and awesome patched into everything.

The icons from Awesome are also smaller than they should be.

[2020-08-04 01:11] ammgws commented on #246
All we do is output JSON for i3bar/swaybar to process. We don't control the rendering/fonts/etc so not sure how to help.

[2020-08-04 12:27] ammgws commented on #782
What happens if you remove the format string completely?

[2020-08-05 04:58] ammgws commented on #786
Hmm I can't seem to reproduce.

Using i3status-rust git master
Sway-git (don't have an i3 setup atm)
Alacritty with dynamic title turned off

If I open two alacritty terminals then of course the displayed title does not change because we set dynamic title to off in the alacritty config. However if you run i3status-rust in a terminal you can see that it is currently reacting to the focus change eve

[2020-08-05 07:27] amitlevy21 commented on #786
I managed to get the same response as you did.
But if you try the following:
1. Run i3status-rs in the terminal
2. Open Alacritty
3. At this point i3status-rs responds to focus change events.
4. Run a command in the opened Alacritty terminal (I ran `yay`)
5. Now i3status-rs in the other terminal is not responding for focused change events

If you terminate i3status-rs and re run it, it will start

[2020-08-05 09:13] P4Cu opened #791 "music block does not reset title on MPRIS closed"
So it looks like music block does not listen or react to unregister of DBus service and it does not remove the tile of playing song.
This should be easy to fix.

I might have a look but for now lets mark it as unassigned.

[2020-08-05 12:07] ammgws commented on #791
Also IIRC the whole DBus code for the music block is pretty inefficient. It subscribes to changes and when it gets one it makes another DBus call to get the new info, however that info is already available in the signal that was sent out in the first place.

[2020-08-05 13:29] ammgws commented on #786
1. Opened firefox in a new workspace
2. Opened Alacritty in that workspace
3. Ran i3status-rs in that terminal
4. Opened another Alacritty
5. Ran a command (`yes`)

Couldn't reproduce :confused:

![issue768-1](https://user-images.githubusercontent.com/20397027/89418156-a3a18c00-d76a-11ea-9530-5f57b80fb334.gif)

[2020-08-05 14:11] amitlevy21 commented on #786
OK, so it turns out that the trigger to the issue here is the auto type of keepassxc.
The `yay` command i was running requires root privileges and I use keepassxc to enter my sudo password. It is after the sudo password is auto typed, that i3status-rs loses access to focus events.
What you see in the following gif:
1. Trying to break things with yes command - i3status-rs responds to focus events.

[2020-08-05 14:45] ammgws commented on #786
I suspect this is the same issue as described in https://github.com/greshake/i3status-rust/pull/778

[2020-08-05 14:57] amitlevy21 commented on #786
I've subscribe to that PR and will test again once its merged.
Thank you!

[2020-08-05 15:03] ammgws commented on #786
You can test it now if you want:

[code]

[2020-08-05 15:12] amitlevy21 commented on #786
It didn't fix it for me

[2020-08-05 15:15] ammgws commented on #786
OK back to troubleshooting then

No errors show up when running it on a terminal?

[2020-08-05 15:17] amitlevy21 commented on #786
`./target/debug/i3status-rs $HOME/.config/i3/status.toml` returns no errors

[2020-08-05 15:30] amitlevy21 commented on #786
OK i got something once I trigger keepassxc auto type window i get this:
[code]

[2020-08-05 15:30] ammgws commented on #786
Even when using keepassxc auto type feature to auto type sudo password?

I might have to setup keepass and i3  (since the autotype probably doesn't work on sway) to see what's going on...

[2020-08-05 15:32] amitlevy21 commented on #786
And with RUST_BACKTRACE=1:
[code]

[2020-08-05 15:40] ammgws commented on #786
Awesome, that brings us one step closer.

[2020-08-05 15:48] ammgws commented on #786
Are you able to run `i3-msg -t get_tree` while the keepass window is open?

Need to see which field it is which is causing the deserislisation to fail.

[2020-08-05 16:00] amitlevy21 commented on #786
Yes, here is the output.

I always have the keepassxc window in the scratchpad area, but I still get the error even if the window isn't in the scratchpad area.

[code]

[2020-08-05 22:07] ammgws commented on #786
OK I believe I found the issue, submitted a bugfix upstream.

[2020-08-06 07:21] amitlevy21 commented on #786
Using the latest master that has the following commits:
![image](https://user-images.githubusercontent.com/28672915/89502938-7b4b7900-d7ce-11ea-9498-b4e86f90902b.png)
Iv'e ran `cargo build`, the issue still persist, same error and same back-trace as before

[2020-08-06 07:47] ammgws commented on #786
The upstream fix was only just merged so probably need to delete Cargo.lock before building for it to grab the newest version.

[2020-08-06 07:51] amitlevy21 commented on #786
Awww yes! It's fixed! :smile:
Thank you!

[2020-08-06 08:32] #786 closed

[2020-08-06 11:12] martinbrylski commented on #782
With the latest build it seems to work properly again :-D perfect

[2020-08-06 11:12] #782 closed

[2020-08-06 11:23] ammgws commented on #782
OK, hopefully it's not a fluke!

[2020-08-06 12:28] ammgws opened #794 "kdeconnect block: battery percentage can overflow"
![20200806_20h33m42s](https://user-images.githubusercontent.com/20397027/89531698-9e584600-d82b-11ea-9256-860bd34f16f9.png)

kdeconnect is returning -1 for whatever reason, but we aren't handling it properly.

[2020-08-06 20:06] level39 opened #795 "Disk Space block incorrectly calculates alert level"
This is the disk space block config:

[code]

I have **196.24 GB** of available space on my drive:
https://i.imgur.com/gziCAAl.png

From the docs:

**warning**: Available disk space warning level in GiB.
**alert**: Available disk space critical level in GiB.

Yet it renders the block as an alert.

*Changing the alert value to 15 renders it as an info block.*

[2020-08-07 06:22] AkechiShiro commented on #85
Is there any chance for one of the PR #585 or #233 to be merged in master or are they currently incomplete somehow or have issues ? (the single check passes for both completely)

[2020-08-07 07:03] level39 commented on #795
My bad, had to use **available** as **info_type**:

[code]

[2020-08-07 07:03] #795 closed

[2020-08-07 13:32] ammgws commented on #728
@idiot-toaster Is this still occurring?

[2020-08-07 13:38] ammgws commented on #713
@2ico What's the reasoning behind that? Does it make it use the hardware brightness?

[2020-08-07 13:46] ammgws commented on #722
I haven't been able to reproduce this yet :(

[2020-08-08 07:04] #783 closed

[2020-08-08 07:16] #784 closed

[2020-08-08 07:18] ammgws commented on #762
Can you share your custom block? Want to see if this could be done by enhancing the xrandr block.

[2020-08-08 07:19] colemickens commented on #762
I'm using Wayland and have since moved to Waybar, sorry I can't supply that config. It was `swaymsg -t get_outputs | jq` mangled.

[2020-08-08 07:20] ammgws commented on #762
Just saw that now. No worries.

[2020-08-08 07:20] ammgws commented on #762
Looks like it was this anyway:
[code]

[2020-08-08 07:21] ammgws commented on #762
Does waybar have a native block that does what you mentioned in the OP?

[2020-08-08 07:22] ammgws commented on #756
Closing due to lack of response, please re-open otherwise.

[2020-08-08 07:22] #756 closed

[2020-08-08 07:24] colemickens commented on #762
Heh, good find.

I don't think so. I just looked again, albeit not the world's most thorough look.

[2020-08-08 08:00] ammgws commented on #420
@vvrein Do you still get this if you change back to `on_click = "pavucontrol"`?

I just tried again (using sway-git and i3status-rust-git) but it doesn't seem to crash anymore. Wonder if something was fixed sway-side between then and now.

[2020-08-08 14:01] workflow opened #798 "keyboard block: support for multiple xbkcomp layouts (active highlighting)"
I'm using an `xkbmap` config with 3 different layouts (comma-separated) and xkbcomp's usual way of switching layouts.

![image](https://user-images.githubusercontent.com/1276854/89712250-43a52280-d9c2-11ea-9be8-b1cb8e179ecf.png)

...so that `Win+Space` toggles between the `us`, `de` and `ua` layouts.

The `keyboard` block show the overall layout correctly:

![image](https://user-images.githubuserc

[2020-08-08 14:15] ammgws commented on #798
Which keyboard block driver are you using?

[2020-08-08 14:44] vvrein commented on #420
@ammgws
Yup, can confirm that at least on master branch everything works as intended with a such config.
[code]

[2020-08-09 00:36] idiot-toaster commented on #728
Yes, it is. I'm using `i3status-rust-git` and I still experience this. I've tried it with and without the AUR helper, so I've no idea what to do in that regard.

[2020-08-09 01:35] ammgws commented on #420
Cheers! I'll close this for now then.

[2020-08-09 01:35] #420 closed

[2020-08-09 03:26] DCsunset opened #800 "nvidia_gpu block: add format string because spaces between the widgets are too large"
Now many blocks support format string.
It would be great if the nvidia_gpu block also supports it.

If there's no plan to implement it currently, I could submit a PR in a few days :)

[2020-08-09 03:38] ammgws commented on #800
See here: https://github.com/greshake/i3status-rust/pull/754

Feel free to submit a PR :)

[2020-08-09 06:00] DCsunset commented on #800
After looking into the code, I found it hard to add the format string because the block consists of widgets, some of which could be clicked, and I haven't come up with any idea how to add it.

I originally came up with this issue because the spaces between the widgets are too large (each widget has both a leading space and a trailing space). Maybe I could try to add a property `inline` to the widg

[2020-08-09 07:33] AkechiShiro opened #801 "Running into multiple errors about JSON while trying to implement a new block"
I was writing a block to use redshift or sct directly from a block (and adjusting the temperature using the mouse scrolling, had a look into the Xrandr block to see how to properly do this) basically an equivalent to the hueshift block from py3status, after a lot of fixes and a successful compilation of i3status-rs I got this error on the i3bar when I explicitly add the new block (when I remove it

[2020-08-09 09:36] ammgws commented on #801
Feel free to share the code via PR

[2020-08-11 11:10] timlyo opened #803 "Nvidia Block Panic: ParseIntError(InvalidDigit)"
I've had a few crashes recently, the cause seems to be a panic in the Nvidia Gpu block. It happens after it's been running for a few minutes.

[code]

[2020-08-11 13:07] ammgws commented on #803
It must be getting some funky value for the fan speed that is tripping it up. The code used for that part (`result[count].parse::<u64>().unwrap()`)is the same as for the temperature. What does your block config look like? If you don't already have it enabled, could you add `show_temperature` and see if it changes where the Panic occurs?

[2020-08-11 13:23] timlyo commented on #803
My block looks like this

[code]

I've also added a `dbg!()` around the statement I'll let you know if I get anything.

[2020-08-11 13:25] ammgws commented on #803
That would be great!

[2020-08-11 13:28] ammgws commented on #803
Can you do that for `result_str` and `result` as well? In case there's some weird output there.

[2020-08-11 13:53] timlyo commented on #803
Took a while to crash this time, but I've got this out of it:

[code]

[2020-08-11 14:01] ammgws commented on #803
Well that third entry is pretty suspect (Unknown Error). It's meant the be the fan speed value.

Can you run `nvidia-smi -i 0 --query-gpu=utilization.gpu,temperature.gpu,fan.speed, --format=csv,noheader,nounits` in a terminal and see what the output looks like? And/or try dbg! on `output` (L251)

[2020-08-11 14:14] ammgws commented on #744
Do you have subpixel blending enabled in your sway config?

[2020-08-11 14:34] timlyo commented on #803
The output from the command is what you'd expect (`0, 45, 0`) and `output` is the same as that. I've change the line to `unwrap_or(0)` for now to stop mine crashing, but I'm not sure what the best way of handling this would be.

[2020-08-11 15:07] ammgws commented on #803
Did you run the command in a loop for a little while? I'd expect "Unknown Error" to pop up at some time

[2020-08-11 19:19] adrianisuru commented on #744
@ammgws no, how do i enable it?

[2020-08-11 19:31] idiot-toaster commented on #728
@ammgws Yes, it is. After further testing, I've discovered that this issue occurs when you specify both the AUR and Pacman string substitutes in the same block. If you take away `{aur}` then it works.
e.g. `format = "{aur} {pacman}"` will not be highlighted but `format = "{pacman}"` will

[2020-08-11 20:14] PicoJr commented on #728
[code]

Line 331 should be `has_critical_update(&pacman_available_updates, regex)`, only AUR critical updates are checked when both (AUR and pacman) are watched.

[2020-08-11 20:55] #728 closed

[2020-08-11 23:09] ammgws commented on #744
Never mind, I came across a bug report in i3 where it said cairo didn't tender text in the bar when there was a colour emoji present, and there was a similar issue opened on the sway bug tracker where it mentioned disabling subpixel rendering had an effect. I thought perhaps that could be it but if you haven't explicitly enabled it then I guess it's not related.

[2020-08-12 03:19] workflow commented on #798
Thanks for the link!

Currently `localebus`, but happy to use any that will work.

I tested https://github.com/nonpop/xkblayout-state and it works, so that would be one option to explore.

[2020-08-12 03:25] ammgws commented on #798
I take it you are in i3 and not sway?

[2020-08-12 03:30] workflow commented on #798
i3 aye

[2020-08-13 17:14] AkechiShiro commented on #801
I've shared the code via PR, I'd like a bit of feedback or guidance on the issue I'm facing as I don't really understand what's going on and why I'm getting an error related to JSON. Since my code doesn't really do anything with JSON, I suppose something in i3status-rust codebase organizes the data using the JSON format and somewhere an error is raised.

[2020-08-14 12:04] amitlevy21 commented on #498
![image](https://user-images.githubusercontent.com/28672915/90247252-e46e6480-de3e-11ea-9753-c41750487fb0.png)
![image](https://user-images.githubusercontent.com/28672915/90247447-4202b100-de3f-11ea-90b3-1dc3caedbf50.png)

@ammgws  can anything be done to remove the spaces marked in the red boxes?

[2020-08-14 12:08] ammgws commented on #498
Can you share your config for the net block?

[2020-08-14 12:11] amitlevy21 commented on #498
Sure!
[code]

[2020-08-14 13:34] ammgws commented on #498
Have you tried overriding the `net_down` and `net_up` icons? By default they have a space around them.

[2020-08-14 14:35] amitlevy21 commented on #498
![image](https://user-images.githubusercontent.com/28672915/90260403-1b9b4080-de54-11ea-81be-367e10db10a8.png)
You're right, I simple override them with the icon but without any space and it fixed it. Thanks!

Being a little picky here, there is still a small space (left to the net_up icon) can I do anything to get rid of it? (if not that's totally OK, I'm being too picky here)

[2020-08-14 14:45] ammgws commented on #498
See https://github.com/greshake/i3status-rust/issues/468 and https://github.com/greshake/i3status-rust/issues/377

At some stage I hope we can come up with a solution

[2020-08-14 14:49] ammgws commented on #801
Does the error in i3bar occur straight away, or does it happen randomly after the i3status-rs is already up and showing in the bar?

Can you run i3status-rs (with a minimal config) in a terminal and copy the output here?
(I am running sway so don't have a X11 environment to test with myself)

[2020-08-14 15:02] ammgws commented on #803
Let's just go with this for now.

[2020-08-14 16:00] #803 closed

[2020-08-14 21:38] AkechiShiro commented on #801
The error occurs straight away when the block hueshift is present in the toml config file, the bar is never shown.
I'm using i3wm as my Windows manager currently.

Using a minimal config with only the block hueshift and using the compiled version this is what I get it seems the error is not happening.
[code]
The two /bin/ lines comes from a function `what_is_supported()` in my hueshift block that

[2020-08-14 22:52] ammgws commented on #801
Ah that makes it easy then. The output of the command is being printed to stdout in the middle of the JSON stream which is why your getting that error.

Check out the has_command function in util.rs. You should be and to use that instead.

[2020-08-15 09:07] #3 closed

[2020-08-15 09:14] AkechiShiro commented on #801
Alright, I've taken a look at util.rs and the `has_command` and it was exactly what I needed.
I've also modified the line that runs the `redshift` command to redirects its output to /dev/null the same way the `has_command` function does to not run into this error when scrolling/updating the block.

The error is fixed, the bar shows up and with the correct default text, I've replaced the TextWidget

[2020-08-22 19:30] Dieterbe opened #808 "music block: prioritized media players , OR exclude media players?"
Hello,
first of all. nice project, thank you. i'm in the process of switching over from a conky based setup to i3status-rust and it's looking really nice.

My situation is the following: I use multiple media players (spotify and cmus), and i also tend to have some paused youtube videos in my chrome browser.

typically i'll play music through one of the players, or watch a video (rarely do i watch

[2020-08-22 19:45] Dieterbe opened #809 "How to change separator between blocks?"
Hello, I'm not a huge fan of the default triangular transitions between blocks
![pattern](https://user-images.githubusercontent.com/20774/90964311-1da27680-e4c8-11ea-8890-a6c954b32bb4.png)

Here are some options i made using a paint program. First one is default/current behavior.
Second one just uses straight lines, third option uses separators between blocks
Is it possible to achieve number two o

[2020-08-23 00:20] ammgws opened #812 "Investigate if can use serde_json to get ip address instead of sed"
Originally done in #513 but had to revert due to a bug in Debian Buster's `ip` implementation. However since then there has been a new release of Buster (10.5) so perhaps it has been fixed...

Ref: https://github.com/greshake/i3status-rust/pull/513#commitcomment-39226333

[2020-08-23 00:23] #809 closed, assigned to nobody

[2020-08-24 11:01] ammgws commented on #801
Maybe you could try setting your bar command to `i3status-rs 2>&1 | tee /tmp/debugi3rs` and then run `tail -f /tmp/debugi3rs` to see what is happening when you scroll on the block.

[2020-08-24 11:10] ammgws commented on #808
Looks (partly) doable by modifying the `get_first_available_player` function. However you probably also need to do some work in the `update` function and perhaps other places in order to make it prioritise the correct player in all cases.

[2020-08-24 12:47] ammgws commented on #257
Closing due to inactivity. Feel free to re-open if there are any updates.

[2020-08-24 12:47] #257 closed

[2020-08-24 15:43] Dieterbe opened #814 "net block (nor any other for that matter) should not include "cruft" in format specifiers"
I noticed that a net block with `format = "{ssid}"` results in the text "SSID: actual-ssid-here"
i believe this is due to `get_iw_ssid` using the full regex match rather than the first group
(`    static ref IW_SSID_REGEX: Regex = Regex::new("SSID: ([[:alnum:]]+)").unwrap();`)

it looks similar for a bunch of the other defined regexes.

note that if you're so inclined, you can always use
[code]

s

[2020-08-24 15:52] AkechiShiro commented on #801
Thanks for the help, I've tried that and it seems some numbers appears right after the whole JSON output of my config. It looks like that :
[code]
I've also changed the code a bit and the error is slightly different but still about JSON parsing.
It's now `(parse error : after array element, I expect ',' or ']')`.
I'm a kinda of at a loss here since the way I execute my command is redirecting all t

[2020-08-24 21:29] ammgws commented on #814
Yeah that shouldn't be happening. Looking forward to the PR

[2020-08-25 07:08] kflak opened #815 "Temperature block displays with 15 decimal places"
As of today I am getting a 15 decimal place display of my computer's temperature... Not quite needed. Is there a way to format this as an integer?

System: Arch Linux, 5.4.58-rt35-2-rt-lts, sway v1.5, i3status-rs 0.14.1

[2020-08-25 10:02] ammgws commented on #801
Let's move discussion to the PR since the rogue output is coming from there.

[2020-08-25 10:02] #801 closed

[2020-08-25 12:17] ammgws commented on #815
Until something like #724 / #750 is implemented then there's no way to fix this right now without amending the code itself.

[2020-08-25 12:17] ammgws commented on #815
Is the temperature itself correct or is it over/underflowing?

[2020-08-25 15:30] kflak commented on #815
Seems like it is reporting the correct temperature. In the meantime I discovered the `collapsed = true` parameter which basically gives me all the information that I need. Sometimes the only precision I need is a friendly color code... :-D

[2020-08-26 08:34] ammgws commented on #815
I'm guessing you're running git master and this only came up after https://github.com/greshake/i3status-rust/pull/811 ?

[2020-08-26 09:07] kflak commented on #815
So it seems. Not able to confirm 100% right now, but I'm pulling from aur i3status-rust-git, so should be the latest master.

[2020-08-28 16:33] Gelox opened #819 "Signal need for update to custom (or all) blocks"
Sometimes you want to write event-driven custom blocks rather than blocks that poll. Let's for example say that I want to write a custom volume block, but I only want to update it when I change my volume rather than updating every X seconds.
As far as I can tell this is currently impossible, if not please let me know how to accomplish this.

I'm willing to take a look at creating this feature if i

[2020-08-28 21:22] ammgws commented on #819
Depending on what you actually want to do the Custom DBus block could achieve what you want.

As for the questions:
1. SIGRT might be the best bet (see https://github.com/vivien/i3blocks#signal) so you can pinpoint updates to a specific block. See previous discussion here: https://github.com/greshake/i3status-rust/issues/77 and https://github.com/greshake/i3status-rust/issues/302.

2. I think it w

[2020-08-30 22:57] arraypad commented on #815
@ammgws I changed it to a float because I appreciate the precision but for my chip `sensors` is returning a more sensible precision - I've only ever seen at most once digit after the decimal place. Sorry this issue didn't occur to me!

I don't think more than one decimal place is very useful so it would be good to fix, but with #750 on the horizon I'm not sure if this is worthwhile to fix individu

[2020-08-31 04:41] ammgws commented on #815
I'll revert the type back to `int` for now.

[2020-08-31 04:56] #815 closed

[2020-09-02 18:25] PicoJr commented on #430
Hello, FYI I'm not working on this.

I have mixed feelings about using async inside i3status-rust (only my opinion):
* most widgets won't benefit from being async
* mixing threads and async looks daunting to me
* threads works fine, even spawning a thread per block remains quite cheap

Nevertheless some widgets may benefit from being async (or simply being run inside a thread): `pacman`, `weather`

[2020-09-03 11:13] #814 closed

[2020-09-03 11:52] crisidev opened #824 "Temperature block returning errors"
Hello,
I think one of the latest commits introduced a regression in the temperature block, which is now returning an error on my system while unwrapping here: https://github.com/greshake/i3status-rust/blob/master/src/blocks/battery.rs#L364

Here is the output of running i3status-rs manually:

[code]

And here is my block config:
[code]

I am on Ubuntu bionic (18.04) and I have lm-sensors installed

[2020-09-03 12:00] ammgws commented on #824
Looks like it's just the temperature block taking down the bar than a bug in the battery block. Try switching around the blocks in your config.

Can you show me the output of `sensors --help`?

[2020-09-03 12:14] crisidev commented on #824
I have moved the block around in multiple places and I am getting the same issue..

Here is the output of `sensors  --help`:

[code]

[2020-09-03 12:15] crisidev commented on #824
Also, I made a typo in the title, let me fix it. There is nothing wrong with the battery block as you said, it is the temperature one.

[2020-09-03 12:28] crisidev commented on #824
Unfortunately I am not able to update to lm-sensors 3.6 and libsensor5 as Bionic does not ship them and I cannot really go and upgrade to 20.04 now :(

https://launchpad.net/ubuntu/+source/lm-sensors

[2020-09-03 12:30] crisidev commented on #824
And I have the same issue with the weather block.. curl is too old on Bionic as well.

[2020-09-03 12:49] ammgws commented on #824
Unfortunately there's nothing we can really do here apart from ask you to upgrade :(

It has been years since I've used Ubuntu but would Backports allow you to install the newer versions of curl and lm-sensors on 18.04? https://help.ubuntu.com/community/UbuntuBackports

[2020-09-03 12:49] #824 closed

[2020-09-03 13:19] crisidev commented on #824
I'll try to find some time and see if I can update libsensors through backports. I have searched a bit but I did not find the package, but it was not a deep search.

[2020-09-03 13:19] #779 closed

[2020-09-03 13:20] ammgws commented on #737
Closing due to inactivity. Re-open if you are still having issues.

[2020-09-03 13:20] #737 closed

[2020-09-03 13:20] crisidev commented on #824
Thanks for the help understanding why this is happening.

[2020-09-03 13:23] ammgws commented on #812
@hlmtre Assuming you've upgraded to 10.5, do you still get the empty object at the start of the array as you mentioned in https://github.com/greshake/i3status-rust/pull/513#commitcomment-39226333?

[2020-09-03 15:03] crisidev commented on #824
Just FYI, I can't find backported package and I believe the problem comes from the fact the lm-sensors 3.6 wants a new version of libc6, not available in Bionic.

[2020-09-03 15:58] crisidev commented on #824
If anyone else have the same issue and cannot upgrade lm-sensors accordingly, here is a poor's man custom implementation:

[code]

It's ugly, but it does the job :)

[2020-09-04 20:33] hlmtre commented on #812
I have submitted a simple workaround in a [pull request](https://github.com/greshake/i3status-rust/pull/825).

[2020-09-08 08:41] DarkWeird opened #826 "nvidia_gpu block: hybrid graphics compability"
`nvidia_gpu `block dont work on notebooks properly:

When nvidia card not using - nvidia-smi returns:
`NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.` (return code: 9)

When nvidia card using - nvidia-smi returns as expected.

If disable nvidia card during `i3status-rs` - It failing all status string.

[2020-09-10 17:42] DarkWeird commented on #826
You can use `optirun <program>`, `primusrun <program>`  or start `X` server with enabled nvidia driver.
Also it can be bbswitch kernel module...
See https://wiki.archlinux.org/index.php/Bumblebee

I don't know what really enabling nvidia driver.
(I guess bbswitch have kind of IPC mechanism)

I did use `optirun glxgears`.
While this program running - block works.

I am using Sway + swaybar.

This p

[2020-09-11 14:35] muralikodali opened #827 "block using high cpu with high temperature"
I have added a block to show the status of current keyboard ( whether in insert mode or normal mod ).

I have added a block as shown below :

[[block]]
block = "custom"
command = "cat ~/.cache/xkb-curr-$DISPLAY"
interval = 0.5

the content of ~/.cache/xkb-curr-$DISPLAY ( INS for insert mode or NOR for normal mode ) is produced by a script attached below. when i run this block , temperature is rais

[2020-09-11 23:23] ammgws commented on #827
What happens if you change the interval to 1? Or 5?

[2020-09-12 08:22] muralikodali commented on #827
I have tried the block at interval of 1 and 5.

- interval at 1, temperature raised from normal 58C
- interval at 5, temperature raised up to 42C to 47C

high temperature is accompanied by high cpu usage up to 42% for a single thread

[2020-09-14 12:16] GladOSkar commented on #826
@ammgws to expand on DarkWeird's answer - This happens using Nvidia's `optimus` technology for dynamically switching between graphics adapters, usually Intel HD to nvidia and back. The standard linux tool for this is `bumblebee`, but linux support is a little flaky at times.

But essentially it's definitely possible for a Nvidia card to be disabled or enabled at runtime, so this request definitely

[2020-09-16 09:36] Dieterbe opened #828 "displaying wireless signal strength breaks the whole statusbar if wifi disconnects"
[code]
![noooooaeou5554](https://user-images.githubusercontent.com/20774/93319958-30833f00-f819-11ea-9554-cc6d11ed675d.png)

we probably just need a small error handling tweak.

[2020-09-16 10:44] GladOSkar commented on #828
This actually works on my machine:

[code]

![image](https://user-images.githubusercontent.com/9497832/93327291-6543c600-f81a-11ea-8b78-7621c6c82e86.png)

[2020-09-16 11:50] Dieterbe commented on #828
interesting. I have
[code]

I note you have a `signal_strength` setting which per https://github.com/greshake/i3status-rust/blob/master/blocks.md#deprecated-options is deprecated.

which version do you use? i have it with latest master.

[2020-09-16 11:52] GladOSkar commented on #828
I also am on latest master, apparently i forgot to remove that entry. It works without it as well. Will edit the comment to avoid confusion

[2020-09-16 11:58] ammgws commented on #828
@Dieterbe What happens if you try with `format = "{ssid} {speed_up} {speed_down}"`? Does it fail on the SSID?

[2020-09-16 19:58] Dieterbe commented on #828
Hi Jason, with that format string it seems to work fine.

[2020-09-16 21:35] Dieterbe commented on #828
strange, i can't reproduce the issue anymore with `format = "{ssid} {signal_strength} {speed_up} {speed_down}"` either
for both format strings i disconnect from wifi using network manager and it all seems to work fine.
when the issue originally appeared it wasn't after simply manually disconnecting, i was having wifi issues where i lost connectivity due to a still undiagnosed issue.

[2020-09-17 14:13] muralikodali commented on #827
script is taken from the url given below.

[https://cedaei.com/posts/vim-like-layer-for-xorg-wayland/](url)

xkb_swapper.sh :
[code]

[2020-09-20 14:21] ObiWahn opened #829 "disk block: compute state broken since 8074b0bbade191c0ab31158e666efed0fa392f04"
Hi,

the calculation when the alert triggers changed in commit `8074b0bbade191c0ab31158e666efed0fa392f04`. It used to take a percentage. That was imo a much better behavior than the total that is taken now. And the size of the total does not seem to be taken in GB as the documentations suggest, but in the given unit of the block.

I was expecting an alert at 10/20 % of my 6TB hard drives. With the

[2020-09-20 14:44] ammgws commented on #829
That does seem wrong. @jamesmcm do you get this too?

[2020-09-20 15:57] jamesmcm commented on #829
Could you please post your config @ObiWahn ?

Ideally we'd be able to use both absolute values and percentages, the tricky part is that if you set `unit = "Percent"` then _all_ the values are set to use percentages which is probably not what you want. That would fix the percentage alert though (but `{used}` etc. would show bytes).

I see two options, either assume to show in GB if using `unit = "P

[2020-09-20 17:19] murlakatamenka opened #830 "Setting PulseAudio volume limit"
It's Pulse Audio's feature that you can set volume to any value past 100% thus potentially damaging your ears / hardware.

This is valid:
[code]
ALSA won't let you do it:
[code]
So, in this issue I ask to limit volume set via `Sound` block to 100%. You know, cats like to scroll mouse wheels :smile_cat:

---

Actually, I'm confused now.

https://github.com/greshake/i3status-rust/blob/master/blocks.

[2020-09-20 18:09] ObiWahn commented on #829
My blocks look like this:
[code]

`df` output:
[code]

[2020-09-20 18:25] jamesmcm commented on #829
Okay, I'll add an absolute_alerts boolean to set absolute values for the alerts and use percentages otherwise (regardless of the unit setting) for backwards compatibility.

[2020-09-20 18:27] ObiWahn commented on #829
@jamesmcm awesome! I was just about to suggest either that or appending `%` to trigger the percentage mode.

[2020-09-20 18:53] jamesmcm commented on #829
See #831

Also my config is:

[code]

[2020-09-20 23:05] #830 closed

[2020-09-21 17:37] ObiWahn commented on #829
Works as expected! Thank you!

[2020-09-22 00:07] #829 closed

[2020-09-22 14:18] cameronswinoga opened #832 "net block: {ip} in format string causes error"
[code]

Causes a bar error: `Error in block 'net': Malformed JSON.`

[code]

[code]

[2020-09-22 15:39] themadprofessor commented on #832
Which version are you running? I just ran master with this json instead of the call to ip and it works fine.

[2020-09-23 03:38] cameronswinoga commented on #832
[code]
And the git hash it was built from is `3979cc961fe`

[2020-09-23 15:32] themadprofessor commented on #832
Well that is master.
Does `ip -json -family inet address show wlp111s0` output something like:
[code]

[2020-09-23 15:35] cameronswinoga commented on #832
Sort of yeah? There's a couple extra levels in the array:
[code]

[2020-09-23 15:54] themadprofessor commented on #832
Oh gosh, that would do it :smile:
Looks like the top list needs to be iterated over rather than directly accessing the first element.

[2020-09-25 11:05] ammgws commented on #827
Can you check your CPU usage details? Which processes are busy etc.

[2020-09-25 20:31] Brod8362 opened #834 "pacman block always displays 0"
Pacman block always displays 0 for `{count}` or `{pacman}`. The aur command works fine.
I got it to display 4 once when I first set it up, but ever since then it just displays 0.
Fakeroot **is** installed.

My config:
[code]

![image](https://user-images.githubusercontent.com/38388134/94313269-054cce00-ff44-11ea-8a44-510af52fe1ef.png)

[2020-09-26 00:30] ammgws commented on #834
Does it work if you remove the critical_updates_regex?

[2020-09-26 00:31] #832 closed

[2020-09-26 02:09] ammgws commented on #828
Must be something in the logic here that only causes it to occur in specific situations: https://github.com/greshake/i3status-rust/blob/d079568c6f627a040934ad96084ea8bba6ae66d0/src/blocks/net.rs#L118-L141

[2020-09-26 05:34] Brod8362 commented on #834
Yeah, seems so, though I tried that before and I'm pretty sure it didn't work.

[2020-09-26 21:59] #812 closed

[2020-09-29 13:40] bascht opened #837 "Conditional display of blocks"
Hi @greshake. I hope it's okay if I open up an issue for a request, but I couldn't find anything in the code, docs, or other related issues:

I would like i3status-rs to have some kind of conditional functionality that would let me show / hide different blocks based on their value / status, e.g.

- only display the *load block* if load is > 2
- hide the battery block if the battery is fully charge

[2020-09-30 14:05] #85 closed

[2020-09-30 14:36] ammgws commented on #834
Can't reproduce so far. Can you try running `fakeroot -- pacman -Sy --dbpath /tmp/checkup-db-yourusername/` and after that run and show the output of `fakeroot pacman -Qu --dbpath /tmp/checkup-db-yourusename/`? That is the command i3status-rs runs to get the update count.

If you have the CHECKUPDATES_DB env var set on your system then substitute that dir instead of /tmp/checkup-db-yourusername.

[2020-09-30 14:42] Brod8362 commented on #834
![image](https://user-images.githubusercontent.com/38388134/94700244-dbf3bf80-0300-11eb-8b80-f053c246c2a8.png)

Here you go. I find it unusual that `critical_updates_regex` can break it, I don't have any updates at the moment so I can't test it right now, but once I get some updates later I'm going to re-add the regex and see if it's still broken. Ever since I removed `critical_update_regex` it's

[2020-09-30 14:46] ammgws commented on #834
I have the exact same `critical_updates_regex` as you but haven't encountered this yet. When it happens next run those two commands again. If there are updates then the second command should list the package names.

[2020-09-30 14:48] Brod8362 commented on #837
I think these features would be best implements on a per-block level as opposed to a universal switch. The battery block already collapses when it's fully charged, but the load block does not have a similar option. If you know a bit of rust, it wouldn't be too difficult to jump in an add them yourself.

Regardless, I do think the load block could do with a bit more customization, although "load >

[2020-09-30 18:09] Brod8362 commented on #834
Got some updates, added back in the `critical_updates_regex` and it's working properly now. Not sure what happened before, but I'll mark this as closed.

[2020-09-30 18:09] #834 closed

[2020-10-01 21:52] #726 closed

[2020-10-01 22:11] ryzokuken commented on #726
Thanks!

[2020-10-02 00:42] ammgws commented on #826
Can we just check the return code, and if it's 9 as in the OP then show the card as unavailable similar to the WiFi block, otherwise error the block.

[2020-10-04 10:57] ammgws commented on #819
Closed via #822, thanks for working on it!

[2020-10-04 10:57] #819 closed

[2020-10-04 10:57] ammgws commented on #77
This should be covered by #822.

[2020-10-04 10:57] #77 closed

[2020-10-04 10:58] ammgws commented on #543
@teldra FYI this was implemented via #822

[2020-10-04 18:24] Triton171 commented on #697
I've implemented custom actions for the battery block, if the change goes through and I find some more time, I'll start adding them to the other blocks as well.

[2020-10-04 19:31] teldra commented on #543
@ammgws thank you!

[2020-10-05 17:50] karthink opened #845 "Backlight block - awesome icons flipped"
The font-awesome icons used to indicate backlight brightness are flipped, with the darkest "moon phase" corresponding to the brightest setting:

![2020-10-05-124636_122x26_scrot](https://user-images.githubusercontent.com/8607532/95113946-cfa8a180-0708-11eb-9a04-d9849e1cd02d.png)
![2020-10-05-124704_107x27_scrot](https://user-images.githubusercontent.com/8607532/95113997-e0f1ae00-0708-11eb-8b16-8f1

[2020-10-05 21:44] ammgws commented on #845
See #573

[2020-10-05 21:45] #845 closed

[2020-10-06 13:42] muralikodali commented on #827
i'm attaching screenshots taken from htop with one image taken before starting the xkb process and one image taken after starting xkb process using i3status-rust.

![cpu_pre](https://user-images.githubusercontent.com/11482766/95208974-6c516900-0807-11eb-830b-4e3907029da5.png)

![cpu_post](https://user-images.githubusercontent.com/11482766/95209020-7c694880-0807-11eb-8a9a-7f5c05cb2bea.png)

[2020-10-07 11:54] ammgws commented on #826
To answer my own question, yes:

[2020-10-07 15:15] ammgws commented on #826
@DarkWeird Can you test #846? I don't have a nvidia GPU so my testing is limited.

[2020-10-08 22:15] bascht commented on #837
@Brod8362 You might be right. Thanks for the extensive answer! I just scrolled through #847 and this looks way easier than I thought. Maybe I get to write some rust after all… :D

You can close this issue at will! :raised_hands:

[2020-10-09 20:48] NOTMY commented on #752
I can not build i3status-rust without pulse since commit: 4df33cc2483d63e62d2ac4bd790a26dfe128b781

[code]

[2020-10-10 00:45] ammgws opened #848 "Cannot build i3status-rust without pulse since commit: 4df33cc2483d63e62d2ac4bd790a26dfe128b781"
I can not build i3status-rust without pulse since commit: 4df33cc2483d63e62d2ac4bd790a26dfe128b781

[code]

_Originally posted by @NOTMY in https://github.com/greshake/i3status-rust/issues/752#issuecomment-706395952_

[2020-10-10 00:47] ammgws commented on #752
@NOTMY Fixed by #849

[2020-10-10 00:51] #848 closed

[2020-10-10 06:37] ammgws opened #850 "docs: add sample images for all examples in blocks.md"

[2020-10-10 07:37] #826 closed

[2020-10-10 07:37] ammgws commented on #826
Ended up testing with a mock script and it worked fine.

[2020-10-10 11:58] NOTMY commented on #848
Thank you @ammgws!

[2020-10-12 14:24] Nukesor opened #853 "Screen freeze on i3status-rust update"
Hi everyone :)

I started using i3status-rust a few weeks ago.
Around the same time, I noticed that my screen began to stutter from time to time.

The stutter was very frequent and it would result in me writing and the screen
updating about a second later all the time.

![Peek 2020-10-12 16-19](https://user-images.githubusercontent.com/3322822/95757113-fdf92480-0ca6-11eb-9c79-245e0dd66dc5.gif)

It

[2020-10-12 14:41] ammgws commented on #853
What status bar generator did you use before i3status-rust? I take it that it had no issues?

For further debugging it would be best to reduce down your config to the bare minimum that reproduces the issue. I'd start with removing your custom blocks one by one to see if they are the culprit.

[2020-10-12 14:54] ammgws commented on #800
I believe this is an issue with the music block as well (IIRC related discussion here https://github.com/greshake/i3status-rust/issues/468).

Hmm, perhaps this is the only way forward?

[2020-10-12 15:57] ammgws commented on #827
I think there's something weird going on in your fish config file. Your block config should only be running and consuming the output of `cat`, yet your process tree shows some perl stuff being spawned by fish. I happen to use fish as well, so I might be able to spot something if you show me your fish config.

![image](https://user-images.githubusercontent.com/20397027/95766791-bf875800-0cee-11eb-9

[2020-10-12 16:13] ammgws commented on #828
The definitions for `operstate` and `carrier` are below.  I wonder if in your case the `operstate` was `IF_OPER_DORMANT` which caused `is_up` to return false. I will try test out some stuff next time I am on my laptop. In any case the block shouldn't crash just because the wifi isn't connected, so if I can reproduce I will work on a fix.

/sys/class/net/xxx/carrier

/sys/class/net/xxx/operstate

h

[2020-10-12 16:18] ammgws commented on #828
Another possible cause might be due to a race condition here:
https://github.com/greshake/i3status-rust/blob/d079568c6f627a040934ad96084ea8bba6ae66d0/src/blocks/net.rs#L840-L869

It returns early if `is_up` returns false, however if the connection goes down after that check but before getting to the `update_ssid` and `update_signalstrength` parts then it would cause an error.

[2020-10-12 16:23] Nukesor commented on #853
I used py3status before switching to `i3status-rust`

[2020-10-13 03:48] DCsunset commented on #800
I think so because the widget inside a block should behave differently from the whole block.
Maybe I could submit a PR for it?

[2020-10-13 03:52] ammgws commented on #800
Yeah it would be easier to proceed if there's some code to look at/test.

[2020-10-13 04:41] ammgws commented on #828
I was able to run some simple tests on my laptop and confirmed that `operstate` is "dormant" when in the process of connecting to a WiFi network (only saw it a couple of times but my test script may have just been too slow to catch it the other times)

Will need to think about how to handle that and those other race conditions

[2020-10-13 04:54] ammgws opened #857 "net block: regex for getting SSID from iwctl broken"
At least on my system it appears to be giving blank output

[2020-10-13 06:51] muralikodali commented on #827
fish config file attached.

[config.zip](https://github.com/greshake/i3status-rust/files/5369478/config.zip)

[2020-10-13 08:07] ammgws commented on #827
Sorry could you please paste it in a gist or something? Dealing with unknown zip files is kind of... fishy 😅

[2020-10-13 08:48] muralikodali commented on #827
uploaded config.fish content to gist as sugggested by you.

[config.fish](https://gist.github.com/9738bed15642f7bc491ef824c45fff9b)

[2020-10-13 09:51] ammgws commented on #827
This line looks like the culprit:
[code]

Can you try changing it to the following?
[code]

I'll close this issue for now but feel free to continue discussion.

[2020-10-13 09:51] #827 closed

[2020-10-13 11:18] ammgws commented on #744
@adrianisuru Does this still happen with sway 1.5?

[2020-10-13 12:09] #583 closed

[2020-10-13 12:10] ammgws commented on #583
@Rikorose @taziden @AkechiShiro Can you try the new `hdie_disconnected` config option added in #858?

[2020-10-13 12:47] ammgws commented on #568
Closing this as the battery block and net block both support hiding the block when the specified device is missing.

If this support is required for another block then please re-open/create another issue.

[2020-10-13 12:47] #568 closed

[2020-10-13 13:08] #762 closed

[2020-10-13 13:16] #749 closed

[2020-10-13 13:16] ammgws commented on #749
@Thra11 If #859 didn't fix this for you then please re-open

[2020-10-13 13:19] #713 closed

[2020-10-13 13:19] AkechiShiro commented on #583
It is working to hide the Bluetooth block when `hide_disconnected = true` inside the toml configuration.

When the headset is connected the block shows up as expected, I can confirm that it works as expected.

If I encounter an issue I will comment here again but I think this is working fine now, nice little upgrade thanks.

[2020-10-13 13:21] muralikodali commented on #827
Your suggestion has helped to some extent. it is consuming less cpu than before. but temperature still raises to 58 to 60 Celsius once i uncomment the relevant block. Even after completely commenting perlbrew.fish line, there is a small change in cpu load and temperature. It shows there is some other issue involved in the problem.

perlbrew version: App::perlbrew/0.86
fish, version 3.1.2

[2020-10-13 13:30] ammgws commented on #827
Can you check htop again?

[2020-10-13 14:20] muralikodali commented on #827
![cpuload_20201013](https://user-images.githubusercontent.com/11482766/95873225-5276cf80-0d8d-11eb-9904-8f1fcb0a1cd9.png)

[2020-10-13 15:17] ammgws commented on #827
I still think there's something else fishy in your config. There's probably more things you should be guarding behind `is-interactive`.

Anyway I just added a new option `shell` to the Custom block in #861. To rule out fish, try `shell = "sh"` in your config and see if you still get high CPU usage.

[2020-10-13 16:16] #6 closed

[2020-10-13 16:16] #315 closed

[2020-10-13 16:19] ammgws commented on #208
@scampi @OddBloke @matclab @ihebchagra @sebastianst @sersorrel Implemented in #860

[2020-10-13 16:20] ammgws commented on #330
Implemented in #860

[2020-10-13 16:21] #267 closed

[2020-10-14 02:37] ammgws commented on #73
@oschoudhury This should be fixed in #863. For now you'll have to manually specify your locale in the config but in the future it could be made to retrieve your system LC_TIME by default.

[2020-10-14 02:51] #73 closed

[2020-10-14 06:13] muralikodali commented on #827
thanks for giving a straight solution. changing the shell in the block may be useful in  some other cases also, which i am hoping from the beginning.

now the process is consuming very less cpu and problem is completely gone.

[2020-10-14 07:16] ammgws commented on #827
I think you should still look into your fish config though

[2020-10-14 12:42] ammgws commented on #397
@Dieterbe Sounds good but first we need to get that info in the first place. Do `iw`, `wpa_cli`, `nm-cli` and `iwctl` all show the wireless link quality?

[2020-10-14 13:03] Dieterbe commented on #397
the net block can already visualize `signal_strength`.
i actually have this in my bar, it's been working fine. though i have seen discrepancies in the numbers reported between conky and i3status-rust' net block, maybe they use a different scaling method or something, but generally they behave similar.

[2020-10-14 18:05] Thra11 opened #865 "mismatched characters in bar graph"
The bar graph used for up/down net graph uses these characters to represent different levels:

https://github.com/greshake/i3status-rust/blob/d258f6614efd790c2969b6db4eb6128287df4a3c/src/widgets/graph.rs#L52

All except the first are "block" characters from the same unicode set, so they are _almost_ guaranteed to be the same width, even in proportional-width fonts (I'm using oxygen-font). However,

[2020-10-14 18:23] Thra11 commented on #749
Having updated to HEAD, currently "idling" at 18.31 load, so something's not quite right.

[2020-10-14 18:27] Thra11 commented on #749
Will try to debug it. Btw, I don't appear to have the option to reopen this.

[2020-10-14 18:51] Thra11 commented on #749
Hmmm. Looks like it's probably correct actually, my system's just too busy to get anywhere near the default thresholds at the moment. It is correctly dividing 18.31 by 6 logical cores to get a `used_perc` of 3.05, which is way over the default `critical` value of 0.9, but appears to be correct.

[2020-10-14 21:19] ammgws commented on #397
Ah ok I thought you were talking about another metric

[2020-10-15 04:10] DCsunset commented on #800
I have submitted a PR to resolve this issue. I hope it could be helpful.

[2020-10-15 04:46] #857 closed

[2020-10-15 08:13] ammgws commented on #865
Sounds OK to me

[2020-10-16 00:27] PopeRigby opened #868 "Custom theme isn't working"
The default theme keeps getting loaded even though I've set a custom theme. Am I doing something wrong? Here's my config:

`~/.config/i3status-rust/config.toml`
[code]

`~/.config/i3status-rust/themes/dracula.toml`
[code]

[2020-10-16 00:47] ammgws commented on #868
Did you copy and paste the wrong file in your post? Both have the same contents

[2020-10-16 00:57] PopeRigby commented on #868
Whoops, seems I did. Sorry, fixed it.

[2020-10-16 05:05] ammgws commented on #828
I think the solution is simply not to error out the block when entering the ssid/signal strength update functions and finding that the network is down. #871 should hopefully have fixed this, but the only way to test it is via field tests. Let me know if something goes wrong!

[2020-10-16 05:05] #828 closed

[2020-10-16 08:09] ammgws commented on #868
Change your config to:
[code]

[2020-10-16 08:35] #868 closed

[2020-10-16 09:04] #865 closed

[2020-10-16 12:40] Dieterbe commented on #828
thanks @ammgws ! cheers.

[2020-10-16 16:18] PopeRigby commented on #868
That fixes it. Thanks!

[2020-10-17 14:50] ammgws commented on #791
@P4Cu Does #874 solve your issue? I don't really have a way to test it as I can't reproduce your issue with any of my players.

[2020-10-17 20:43] evalexpr opened #875 "Battery block with TLP"
Using [TLP](https://linrunner.de/tlp/) allows you to set charging thresholds for laptop batteries. I'm currently using this on a ThinkPad t14s.

I currently have the settings below:

[code]

Meaning that when the battery reaches 90% it stops charging and is considered full.

The values for the actual filesystem BAT0 status is `Unknown` - and looking at the code it doesn't seem we care about handli

[2020-10-18 23:52] rafikdraoui opened #876 "'cycle' and 'signal' keys of custom block don't work together"
The following custom block with a `command` can be updated with `pkill -SIGRTMIN+3 i3status-rs`

[code]

However if we try to use `signal` with cycle, like in the following block, then sending SIGRTMIN doesn't update the block anymore.

[code]

It would be nice if custom blocks with `cycle` could be refreshed with `signal`.

If that can't be done, then the fact that `cycle` and `signal` are mutual

[2020-10-18 23:55] rafikdraoui commented on #876
Sending `SIGUSR1` _does_ update the whole bar though, so that can be used as a workaround. See https://github.com/greshake/i3status-rust/pull/822#issuecomment-703240183

[2020-10-19 00:31] ammgws commented on #876
How would you want the block to behave in that case? Act like the block was clicked and cycle the command after updating, or just re-run the current command and not cycle it?

[2020-10-19 01:40] rafikdraoui commented on #876
Yeah, that crossed my mind as well. For the application I had in mind (which has nothing to do with `date`, that was only used as a simple example :smiley:), it wouldn't really matter that much. I would have a slight preference to re-running the current command (i.e. "remembering" the position in the cycle), but I'm sure we could come up with situations where the opposite would be preferable (i.e

[2020-10-19 02:16] ammgws commented on #876
From a quick look the command is only cycled in the click handler. In the update handler, if `command` hasn't been supplied then the initial `cycle`command is used. This makes sense since when using `cycle` without also saying a `command` the block would only run once on startup and then only after being clicked. In your case the signal is used to schedule an update, so the cycle status stays the

[2020-10-19 03:44] ammgws commented on #876
Although it seems strange that in your case the block does not update at all. That would seem to imply it's not even running any commands when you send the signal?

[2020-10-19 04:37] ammgws commented on #468
FYI @Rikorose (and also people who liked the intial post: @DrBluefall, @daniellockyer, @azzamsa)
#866 Should improve things quite a bit. Not all blocks have been updated with the improved spacing but will be in time (or open an new issue for those).

[2020-10-19 04:37] #468 closed

[2020-10-19 05:00] ammgws commented on #876
Something strange is going on indeed...

Testing with the config you posted above:
[code]

The block responds to the signal four times, but not for any further signals. Also, for the four times it did respond the output has not been updated at all...

[code]

[2020-10-19 05:01] ammgws commented on #876
Testing with
[code]

At least the time is updated on each update..

[2020-10-19 05:41] ammgws commented on #876
I think we should go with this, given that it would match the behaviour of the block when using `cycle` with a non-zero `interval`

In which case the code as-is should work, so that just leaves figuring out the bug from a couple posts above.

[2020-10-19 06:44] #800 closed

[2020-10-19 08:59] flokli opened #879 "new release?"
I really enjoy using i3status-rust!

One question though: Would it be possible to craft a new release?

I started using `allow_missing` and `hide_missing` to be able to share my configuration with my laptop and workstation, but this hasn't made it into an official release yet.

[2020-10-19 09:03] flokli commented on #879
Hmm, in fact, this doesn't seem to work on latest master (2f70c5755d7245af95740ed028965e542c4b1a73) either:

[code]

[2020-10-19 09:06] ammgws commented on #876
OK I found the issue: the custom block was returning early when `cycle` was configured, and the signal stuff was after that so it was never setup.

[2020-10-19 09:21] ammgws commented on #879
New release might come soon, but no guarantees yet.

Are you sure you're running the correct binary?
[code]

[2020-10-19 10:11] #879 closed

[2020-10-19 10:33] flokli commented on #879
Indeed I was running an older binary there, sorry for the noise.

Confirmed this works with latest master, looking forward for a release :-)

[2020-10-19 12:04] rafikdraoui commented on #876
Thank you!

[2020-10-20 04:28] ammgws opened #883 "net block: crashes when interface has been `rfkill`ed"
Minimum config for reproducing:
[code]

[code]

Not 100% reproducible so it must just be one of a couple of different code-paths where the`ip` is updated that leads to this.

[2020-10-20 09:09] ammgws commented on #875
PRs welcome

[2020-10-20 09:10] ammgws commented on #853
Did you manage to come up with a bare minimum config?

[2020-10-20 11:21] Nukesor commented on #853
Hey, sorry for not responding sooner. I didn't have a chance to debug this, since it only happens on my laptop at work and I've been working at my desktop at home for the last week, which a lot faster.

Since our City just reached a critical threshold, I'll probably continue to work at home for a few weeks.
Maybe I can reproduce this issue with my SO's Notebook in the meantime.

I'll report back a

[2020-10-20 13:21] azzamsa commented on #468
This is what I get after using the latest version. Notice the `up` icon has leading space:

![image](https://user-images.githubusercontent.com/17734314/96591583-992a7380-1311-11eb-9ddc-319f2e229182.png)

[code]

[2020-10-20 13:32] ammgws commented on #440
Closing until a more compelling case is made.

[2020-10-20 13:32] #440 closed

[2020-10-20 13:57] ammgws opened #884 "net block: `up` icon has no leading space"
This is what I get after using the latest version. Notice the `up` icon has leading space:

![image](https://user-images.githubusercontent.com/17734314/96591583-992a7380-1311-11eb-9ddc-319f2e229182.png)

[code]

_Originally posted by @azzamsa in https://github.com/greshake/i3status-rust/issues/468#issuecomment-712844999_

[2020-10-20 21:00] azzamsa commented on #884
Sorry, I mean **has no leading space**

[2020-10-21 04:42] #884 closed

[2020-10-21 04:53] ammgws commented on #808
I am currently refactoring the music block code and can probably attempt to solve this while I am there. I think we could add both an array of preferred players and also an ignore list. However since a tradition has been set of not breaking user's configs then need to think about how to accept both a string and array for the `player` config. Perhaps introduce a new config param called `players` an

[2020-10-21 06:35] azzamsa commented on #884
![image](https://user-images.githubusercontent.com/17734314/96681913-33d29300-13a2-11eb-96bb-8d6df2c72a72.png)

Fixed. thanks

[2020-10-21 07:55] ammgws opened #886 "custom block: `command` and `cycle` should be mutually exclusive"
As per the docs they are mutually exclusive, so we should raise a config error if both are supplied

[2020-10-21 09:14] ammgws opened #887 "music block: responds to scroll events from other blocks"
#873 added seek on scroll behaviour to the music block but looks like I forgot to add a check to ignore scrolls on other parts of the bar

[2020-10-21 13:20] Dieterbe commented on #808
it seems rare that someone would play music from 2 players at the same time, but it's an interesting point nonetheless.
perhaps if a user wants to accommodate this, they could instantiate 2 music blocks, one for each player (or more specifically, each block could be configured with a distinct (non-overlapping) set of players, for example, one for cmus, the other for spotify, youtube or anything el

[2020-10-21 13:30] ammgws commented on #808
Currently if you specify a player in the config and the block cannot find it, it will choose the first one it finds on the bus. This behaviour would be the same even with the players array. While testing I found it sometimes attaching to my phone via kdeconnect's MPRIS interface so I ended up adding an ignore list in #888.

[2020-10-21 13:36] Dieterbe commented on #808
I see. so in your case it sounds like you never want to control your phone through i3status-rust. For me, there is no player that I "never want to see". I merely have players (e.g. youtube) that i consider to be "least important" (only show if nothing else is active)

would it be possible to have a button in a music block to make it expand/collapse?
in that case perhaps we should just scrap the id

[2020-10-21 13:43] ammgws commented on #808
For example this is the current block when there is no player found:
![image](https://user-images.githubusercontent.com/20397027/96727679-4d013100-13ee-11eb-933d-334604c53f58.png)

Is your idea that you would click on the icon to make it collapse to this state even when it is playing something?
Or to hide the block completely when there is no player like some other blocks do?

[2020-10-21 14:42] Dieterbe commented on #808
Definitely the first.
I'm not sure about the 2nd. While it seems cleaner to completely hide the block if the player is not running, it also removes all contact surface which could otherwise be used to start the player by means of a click handler.
personally that wouldn't bother me so much as i can easily start my player(s) through other means (e.g. dmenu)

PS my collapsed block looks like this. pe

[2020-10-21 14:46] ammgws opened #889 "music block icon missing"
PS my collapsed block looks like this. perhaps i'm missing an icon or something? (all other icons work fine though, see full bar below)
![music](https://user-images.githubusercontent.com/20774/96735792-989ee500-13c4-11eb-9e03-e820142f0bcc.png)
![bar](https://user-images.githubusercontent.com/20774/96735944-c1bf7580-13c4-11eb-908f-7e058d0416c8.png)

_Originally posted by @Dieterbe in https://github

[2020-10-21 14:47] ammgws commented on #889
@Dieterbe
What's your config file look like?

[2020-10-21 14:50] Dieterbe commented on #889
[status-rust-dark.txt](https://github.com/greshake/i3status-rust/files/5416726/status-rust-dark.txt)
thanks @ammgws !

[2020-10-21 14:56] ammgws commented on #889
I'm also using `awesome5` but mine displays fine. How about your i3bar config? I'm using sway but it should be the same:
[code]

[2020-10-21 15:03] Dieterbe commented on #889
[code]

[2020-10-21 15:09] ammgws commented on #889
It shouldn't make a difference but what happens if you try copy pasting the below into your config? (removing your existing icons line)

[code]

[2020-10-21 15:14] ammgws commented on #808
Actually I think I'm wrong. Have been messing around with the code too much but looks like it originally only auto discovers if you never specify a player in the config

[2020-10-21 15:25] Dieterbe commented on #889
it makes no difference indeed. but look at how it renders in chromium and then how it renders when i copy paste the text from the browser to my editor/terminal (vim+termite) :/
looks like i have an issue that goes well beyond i3status-rust. (quite annoying because i recently spent almost a day getting my font setup fixed so that it displays icons properly.. or so i thought. if i recall correctly i

[2020-10-21 15:40] Dieterbe commented on #889
i notice the font section in the readme. this looks like it may indicate a problem
[code]

[2020-10-21 15:44] Dieterbe commented on #889
hooray, changing my i3 bar config to say
[code]
fixes the icon in my status bar.

[2020-10-21 21:12] kchibisov opened #890 "Networkmanager's on_click method leaves zombies"
Clicking on networkmanager icon in status bar should result in zombie process being left after executing.

Minimal config to repro

[code]

[2020-10-22 05:32] #889 closed

[2020-10-22 07:55] mvdan opened #891 "net: support switching between ethernet and wireless"
This block works fine for my wireless device:

[code]

However, when I connect ethernet and disable wifi, as expected the block then does nothing. It would be nice to instead see the traffic for the wired device, in my case `ens8u2`.

Here are two ideas to potentially solve this:

1) Default to using the device for the first default route in `ip route`; most setups will only have one such device.

[2020-10-22 08:06] ammgws commented on #891
How about defining two blocks in your config and using `allow_missing` and `hide_missing`?

[2020-10-22 08:09] mvdan commented on #891
I thought about that, but that takes up more space. Right now, the "empty" wlan0 net block contains two icons: the wireless signal icon, and an "x" presumably to say that the device isn't enabled.

[2020-10-22 08:10] mvdan commented on #891
Perhaps option 3 is to make the block be omitted when the input (device) is disabled.

[2020-10-22 08:21] ammgws commented on #891
IIRC isn't that what `hide_missing` does? (hiding the block when the device can't be found)

[2020-10-22 08:24] ammgws commented on #890
Similar past issues: https://github.com/greshake/i3status-rust/pull/699, https://github.com/greshake/i3status-rust/pull/362, https://github.com/greshake/i3status-rust/pull/594

PRs welcome

[2020-10-22 08:29] mvdan commented on #891
Perhaps. I have to admit that the docs don't clarify the difference between missing and inactive, and the code in `net.rs` seems to use both in the same way as far as I can see.

I tried both, and I still see the wlan0 widget:

[code]

I completely reloaded sway after changing the config each time, so that fully restarts i3status-rust. I did add the wired net block, which now shows up.

If this wo

[2020-10-22 10:58] GladOSkar commented on #891
I actually use both `hide_missing = true` + `hide_inactive = true` on each interface for your exact purpose, only showing those interfaces that i'm connected to.

Only issue is with alternating color schemes (see #349) but that's less important

[2020-10-22 11:12] ammgws commented on #349
If it's not that big of a computation then I think we should go for it

[2020-10-22 11:14] ammgws commented on #891
@mvdan You need both `hide_inactive` and `hide_missing` in your config for it to hide the block

[2020-10-22 11:18] mvdan commented on #891
Oh, that's not what I gathered from https://github.com/greshake/i3status-rust/blob/master/blocks.md#net then. Why would they be separate options, if they appear to do nothing on their own?

[2020-10-22 11:30] GladOSkar commented on #891
It's true, i found this confusing as well. IMO it should mean:

`missing` implies that the interface has been disabled entirely. Think a VPN that is not running.

`inactive` implies that the interface is available, but not connected. Think wifi not found / ethernet not connected.

But in reality it seems neither work on their own - both my disabled and my disconnected interfaces are only hidden wh

[2020-10-22 11:51] ammgws commented on #891
Can't look into it atm but they were added in these PRs in the order below. Perhaps reading through the discussions may shed some light on the intended behaviour if the code itself isn't clear enough:

This PR added `hide_inactive`: https://github.com/greshake/i3status-rust/pull/102

This PR added `hide_missing`: https://github.com/greshake/i3status-rust/pull/344

This one added documentation for

[2020-10-22 12:22] #887 closed

[2020-10-22 13:45] GladOSkar commented on #891
Interesting. The blurb for #102 says

so that was initially only intended to hide the graph, not the block. But judging by the code it appears to have hidden the entire block anyway:

https://github.com/atheriel/i3status-rust/blob/bdd359fdebba223a336cb7a368db442d4d109a15/src/blocks/net.rs#L397-L401

PR #344 then was probably the culprit: This code looks like it was intended to be `hide_missing` OR

[2020-10-22 14:01] ammgws commented on #891
Looks like that first one should have been
[code]
in order for it to only show the basic info widget and not the graph widgets.

Although now those widgets have been replaced by the format string..

[2020-10-22 14:03] GladOSkar commented on #891
No the first one was correct i think. I'm currently debugging and will make a PR right after

[2020-10-22 14:41] GladOSkar commented on #891
Alright it's in #897, feel free to have a look

[2020-10-23 09:57] #891 closed

[2020-10-23 15:14] ammgws commented on #722
OK I was able to reproduce using this config:

[code]
The first rendered block has the values from the config:

The second rendered block has different values:

So this is due to the alternating tinting of the blocks. I haven't wrapped my head around that part of the code-base but either it's working as intended or the tinting calculations have a bug in them. Although looking at the `alternating_t

[2020-10-23 15:15] #886 closed

[2020-10-23 15:46] GladOSkar commented on #722
Oof that was a while ago but I'll have a look at it when I have a bit of time later or tomorrow

[2020-10-23 16:44] GladOSkar commented on #722
I can't reproduce using neither config...

[code]

I also just went through the entire coloring & tinting logic and can't find any faults. Next step would be using a debugger but as long as i can't reproduce it i can't really be of help

[2020-10-23 16:53] GladOSkar commented on #722
Oh and looking at @ammgws' output again - those colors are entirely correct (the tinting just adds an alpha channel but that's not a problem. The problem is that @eater's system somehow outputs `#AAAAFFFF` - which is wrong and shouldn't happen

[2020-10-23 17:01] eater commented on #722
Just pulled and I'll let you know. It's so convenient that the compile process consumes almost enough laptop battery to get me down into the Warning color zone -- clever design!

[2020-10-23 17:29] GladOSkar commented on #722
lol. In case you didn't know you can just set `warning = 99` on the battery block to trigger the warning coloring or use ammgws' custom blocks

[2020-10-23 17:36] eater commented on #722
That's even easier! Yes, it is still white-on-yellow with the latest master.

[2020-10-23 18:30] GladOSkar commented on #722
Well that truly is very weird. I'm stumped, sorry ¯\\\_(ツ)_/¯

[2020-10-23 20:50] daniellockyer commented on #468
@ammgws Thanks! https://github.com/greshake/i3status-rust/commit/10a545d7a7d6df951bdb972aa7501498070904fd fixes the remaining spacing issue for me - looking forward to the next release :slightly_smiling_face:

[2020-10-23 22:58] Stunkymonkey opened #900 "equal amount of whitespaces as seperators in a single block"
when using mono spaced fonts this catches my eye

some blocks have more spaces, then needed:

- wifi but no ethernet
![Screenshot-2020-10-24_005148](https://user-images.githubusercontent.com/1315818/97060269-1f092180-1593-11eb-9ccc-ba89ad4f1f0b.png)
- battery if fully charged
![Screenshot-2020-10-24_005121](https://user-images.githubusercontent.com/1315818/97060255-144e8c80-1593-11eb-9075-e46f5b0b

[2020-10-24 00:07] ammgws commented on #722
@eater does it also happen with the test config I posted above?

[2020-10-24 00:23] ammgws commented on #900
I doubt it's intentional to have uneven spacing. Can you post your actual config?

[2020-10-24 10:14] Stunkymonkey commented on #900
https://pastebin.com/x14cjkGe

[2020-10-24 10:30] ammgws commented on #900
So for the battery block your config is `"{percentage}%<space>{time}"` and here in one of the cases `time` is set to an empty string:

https://github.com/greshake/i3status-rust/blob/db9b567e31f497b3a35f25451b7286a31f5e6e59/src/blocks/battery.rs#L726-L732

Which means the output turns into `"{percentage}%<space>"`.

One way to fix it might be to include the space in `{time}` itself so you can set y

[2020-10-24 11:48] Stunkymonkey commented on #900
maybe we could have a regex searching for more then two spaces and replace it with a single space?

[2020-10-24 11:49] Stunkymonkey commented on #900
this would then have some bad behavior if the user has a format string `{percentage}%<space><space>{time}`

[2020-10-24 11:58] Stunkymonkey commented on #900
would prevent people to not have any space at all. Maybe that is something users want.

[2020-10-24 12:05] ammgws commented on #900
As you can see from the links below fixing spacing has been an on going battle, and likely the issues left now are not trivial to solve. For blocks that use format strings perhaps each format specifier such as `time` etc could each have a format string itself such as `{time_format}` but things might get out of hand

https://github.com/greshake/i3status-rust/pull/866
https://github.com/greshake/i3s

[2020-10-24 12:33] ammgws commented on #900
Might possibly be the only way to go.

[2020-10-24 13:44] Stunkymonkey commented on #900
what about an integer-option to deduplicate the whitespace (at start and end (sufficient for even spacing, but inner is ignored)) to a fixed amount of spaces? doing this for all blocks?

[2020-10-30 14:16] properlypurple commented on #744
This can be fixed by changing the font option to something like `font pango:Material Icons 10,DejaVu Sans Mono`. Tested on Sway 1.5.

[2020-10-30 16:18] Alexeyan opened #903 "Please bump a new release"
Hi.
I would like to point out that the most current release is nearly half a year old now and quite a few new features and options have amassed in master.
Since distro maintainers usually only package the latest release and I would like to have the features (Dynamic width in the music block for example) I want to ask for a new release version.

Thank you
Alex

[2020-11-01 17:10] SFort opened #904 "panic when updating 0.14.1 => 0.14.2"
[code]
[code]
<details>
<summary>
i3status-rs.toml
</summary>

[code]
</details>

[2020-11-02 02:34] ammgws commented on #904
Also paste your theme file ("modern")

[2020-11-02 04:34] ammgws commented on #904
Was able to reproduce. To fix it add the following to your config:

[code]

Will need to look into this a bit more later.

[2020-11-04 09:58] Stunkymonkey commented on #900
I thought about this some time. I think the best solution is to include the "space" in e.g. `{time}` itself. Like you suggested.

Additionally I would like to add the option to define the "included space", so that maybe someone wants to have double space/tab/... he could do that.

All solutions to reformat after formatting the string are kind of shitty from my point of view.

This way the uneven s

[2020-11-05 10:13] matt-snider opened #905 "Taskwarrior block filter is overly restrictive"
The current implementation of the taskwarrior block only allows specifying a filter of the form `+tag1 +tag2 +tag3 ...` which does not allow for negating tags (`-tag1`), or specifying `or` instead of the implicit `and` ( `+tag1 +tag2 or +tag2`). An example of a query I'd like to do would be `+PENDING +OVERDUE or +DUETODAY`. Unless I have missed something, this isn't possible.

For reference, here

[2020-11-05 10:30] flying7eleven commented on #905
The implementation - as it is right now - was due to my own use-case. Additionally I wanted to keep it as simple as possible for the user. I can completely understand that this is not flexible enough for everyone. I would go for the second option since even the backward-compatibility can be easily achieved with your posted approach. 👍🏻

[2020-11-06 04:58] ammgws commented on #808
After #906 is merged, we will track all current players. Further work could be then be done to allow the block to cycle between players by right clicking on the block, which will allow you to control whatever players you want from the same block.

[2020-11-06 05:16] #791 closed

[2020-11-06 08:04] Dieterbe commented on #808
oh that's an interesting idea as well! comparing it to the idea of multiple blocks, it becomes a tradeoff between space usage of the block(s) vs clicks needed to do/see what you want.

[2020-11-06 08:11] SFort commented on #904
using that fix creates unwanted results ("GITHUB", "ETH"...) making the bar too wide
![Original](https://user-images.githubusercontent.com/1879846/98341886-7b465980-2007-11eb-81b2-a18b3e5a1243.png)
![With fix](https://user-images.githubusercontent.com/1879846/98341906-84372b00-2007-11eb-8b58-06a8430b45ef.png)

[2020-11-06 10:59] ammgws commented on #904
Bisects to 8074b0bbade191c0ab31158e666efed0fa392f04 (https://github.com/greshake/i3status-rust/pull/714 Add icon support via format string to Disk Space block)

Added a fix in #904 (assuming no other blocks suffer from the same issue)